.voorbeeld{
  background-color: #e8ebee;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  /*box-shadow: 5px 5px 10px #e5e5e5; */
}

.verduidelijking{
  background-color: rgba(255,230,21,.3);
  margin-top: 15px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  /*box-shadow: 5px 5px 10px #e5e5e5; */
}

.aanbeveling{
  background-color: #e8ffea;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  /*box-shadow: 5px 5px 10px #e5e5e5; */
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.title--alt {
  margin: 0 0 0;
}