{
 :muuuid1             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "http://data.vlaanderen.be/id/dataset/licentie"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "http://data.vlaanderen.be/id/dataset/licentie/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :muuuid2             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://data.vlaanderen.be/id/dataset/codelists"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :muuuid4             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :muuuid3             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "http://data.vlaanderen.be/id/dataset/CRAB"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "http://data.vlaanderen.be/id/dataset/CRAB/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
:codelistmuuuid1             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/standaardstatus"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid2             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/adresstatus"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid3             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/straatnaamstatus"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid4             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/AardWetgeving"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid5             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/BoomvormconditieKlassen"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid6             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/Contactkanaal"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid7             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/DekselVorm"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid8             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/DrassigheidWaarde"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid9             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/Graftypes"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid10             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/Groeifasen"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid11             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/MeldingStatuswaarde"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid12             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/Nauwkeurigsheidsklassen"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid13             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/Notificatiecategorie"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid14             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/Nutsvoorzieningscodex"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid15             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/OplaadpuntStekkertypes"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid16             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/Oplaadwijzes"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid17             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/Rioleringscode"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid18             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/Sorteerfracties"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid19             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/SpeelEnSportvoorzieningType"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid20             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/StatusEDRL"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid21             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/StatusVlaamseCode"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid22             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/StatusVlaamseFase"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid23             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/Straatkolktypes"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid24             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/TaludWaarde"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid25             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/ToestemmingStatus"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid26             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/TypeRechtsbrononderdeel"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid27             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/Vervoersmiddelen"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid28             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/Verwerkingsgronden"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid29             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists/Verwerkingstypes"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}

 :codelistmuuuid30             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/verticalereferentie"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid31             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/locatieaanduiding"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid32             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/horizontalereferentie"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid33             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/binairestatus"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid34             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/geometriespecificatie"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid35             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/geometriemethode"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid36             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/gemeentestatus"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid37             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/gebouwstatus"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid38             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/gebouweenheidstatus"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid39             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/gebouweenheidfunction"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid40             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/dataleverancier"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid41             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/registerbewerking"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid42             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/2Dgeometriemethode"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid50             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/wegenenverkeer"
                      :clj-pipelines.addmuuuid/domain      "wegenenverkeer.data.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/wegenenverkeer-codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid51             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/lblod"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/lblod/muuuid"
                      :clj-pipelines/dumpname              "lblod-muuid.ttl.gz"}
}
