{
 :muuuid1             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "http://data.vlaanderen.be/id/dataset/licentie"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "http://data.vlaanderen.be/id/dataset/licentie/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :muuuid2             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://data.vlaanderen.be/id/dataset/codelists"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :muuuid3             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "http://data.vlaanderen.be/id/dataset/CRAB"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "http://data.vlaanderen.be/id/dataset/CRAB/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
}
