{
 :muuuid1             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "http://data.vlaanderen.be/id/dataset/licentie"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "http://data.vlaanderen.be/id/dataset/licentie/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :muuuid2             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://data.vlaanderen.be/id/dataset/codelists"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :muuuid4             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://data.vlaanderen.be/id/dataset/openbaardomeincodelists"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/codelists/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :muuuid3             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from        "https://data.vlaanderen.be/id/dataset/adressenregister"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/adressenregister/muuuid"
                      :clj-pipelines/dumpname              "muuid.ttl.gz"}
 :codelistmuuuid50             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/wegenenverkeer"
                      :clj-pipelines.addmuuuid/domain      "wegenenverkeer-test.data.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/wegenenverkeer-codelists/muuuid"
                      :clj-pipelines/dumpname              "wegenenverkeer.muuid.ttl.gz"}
 :codelistmuuuid51             {:clj-pipelines/type                  :clj-pipelines/addmuuuid
                      :clj-pipelines.addmuuuid/from            "https://data.vlaanderen.be/id/dataset/codelists/lblod"
                      :clj-pipelines.addmuuuid/domain      "data.vlaanderen.be"
                      :clj-pipelines.addmuuuid/batch       "200000"
                      :clj-pipelines/graphname             "https://data.vlaanderen.be/id/dataset/lblod/muuuid"
                      :clj-pipelines/dumpname              "lblod-muuid.ttl.gz"}
}
