{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
Het abstracten vocabularium focust op de beschrijving van aanvullende eigenschappen en relaties die horen bij het <a href="https://data.vlaanderen.be/ns/wegenenverkeer/onderdeel">onderdeel vocabularium</a> en het <a href="https://data.vlaanderen.be/ns/wegenenverkeer/installatie">installatie vocabularium</a>. De klasses die hierin gedefinieerd worden zijn niet instantieerbaar maar bestaan enkel vanuit technisch oogpunt om gemeenschappelijke eigenschappen en relaties te bundelen.<br>

</p><p>
Dit vocabularium wordt dus steeds in de context van de volgende verwante vocabularia gezien:
<ul>
<li>Het <a href="https://data.vlaanderen.be/ns/wegenenverkeer/onderdeel">vocabularium onderdeel</a>.</li>
<li>Het <a href="https://data.vlaanderen.be/ns/wegenenverkeer/installatie">vocabularium installatie</a>.</li>
</ul>
</p>
{% endblock %}

{% block status %}<p>Een lijst van de recentste vocabularia is terug te vinden op
<a href="https://data.vlaanderen.be/ns">https://data.vlaanderen.be/ns</a>.</p><br />

<p>Dit document is een offici&#235;le specificatie van een vocabularium en biedt een gedeeld begrippenkader voor bepaalde concepten. Deze specificatie dient om de definitie, gebruik, domein en bereik van de RDF termen binnen dit domein te verduidelijken. De termen gedefinieerd in dit vocabularium zijn persistent en zullen bijgevolg nooit verdwijnen, noch zullen de definities veranderen behalve dan om een bestaande definitie verder te verduidelijken. Termen kunnen echter wel als verouderd worden bestempeld en vervangen worden in nieuwere versies van deze specificatie.</p>

<p>Dit document werd gepubliceerd door de werkgroep Datastandaarden OSLO van het stuurorgaan Vlaams Informatie- en ICT-beleid.
Deze specificatie maakt geen onderdeel uit van een standaardisatietraject. De termen die opgenomen zijn in het OSLO-Generiek vocabularium werden bediscussieerd en erkend in andere OSLO thematische werkgroepen en vervolgens opgenomen in dit vocabularium wegens hun generiek herbruikbaar karakter.</p>

<p>Feedback op deze specificatie kan gegeven worden als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">publieke reviewdiscussielijst</a>.</p>
{% endblock %}
