{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
An address is primarily a self-contained object with its own identifier and life cycle. This also applies to address components such as street name and town name. The address object created in that way is called a structured address. It is the address as it is managed in address registers.
</p><p>
Second of all, an address is an attribute, e.g. the address of a building or an address label on the map. In that case it is not necessary to structure the address, an enumeration of its components (possibly reduced to one string) is sufficient. For domestic addresses, this so-called address display refers to the corresponding structured address from the official address register.
 </p><p>
The OSLO-Address vocabulary adds terms to existing RDF vocabulary so that structured addresses can be exchanged. A European standard for such addresses exists (<a href="http://inspire.ec.europa.eu/documents/Data_Specifications/INSPIRE_DataSpecification_AD_v3.0.pdf">INSPIRE-Address</a>) but does not currently have RDF vocabulary. Moreover, this standard is used to describe any European address, it is in other words too generic for the exchange of Belgian addresses. However, we ensured that OSLO-Address perfectly maps onto INSPIRE-Address.
 </p><p>
For Address Display, ISA already developed an RDF definition </a>, based on the INSPIRE's AddressRepresentation data type, by <a href="https://www.w3.org/ns/locn">. OSLO-Address adds a few subproperties (specialisations of ISA definitions) that are specific to Belgian addresses (e.g. box number). It is misleading that ISA calls this address display Address.
 </p><p>
An address in OSLO-Address only allows to exchange Belgian structured addresses. For foreign addresses the data type Address Display must be used (which implies that foreign addresses can at most be the attribute of another data).
 </p><p>
Special addresses such as mailboxes can be modeled as an address display or as an extension of an existing officially structured address (entity Address Expansion). In the latter, it is assumed that these special addresses always correspond to an officially structured address.
</p><p>
In addition to the INSPIRE address specification, OSLO-Address also models the allocation of addresses to so-called addressable objects, meaning the objects on the site to which the addresses are officially linked by the address administrator. It can also be stated who officially entered the address or street name (typically the address administrator).
</p>
{% endblock %}