{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
Een adres is in de eerste plaats een op zichzelf staand object met een eigen identificator en levensloop. Dat geldt ook voor adrescomponenten zoals straatnaam en gemeentenaam. Het adresobject dat zo ontstaat noemen we een gestructureerd adres. Het is het adres zoals het wordt beheerd in adresregisters.
</p><p>
In tweede orde is een adres een attribuut, bv. het adres van een gebouw of een adreslabel op kaart. Het is in dat geval niet nodig om het adres te structureren, een opsomming van zijn componenten (eventueel herleid tot één string) volstaat. Voor binnenlandse adressen verwijst deze zgn. adresvoorstelling naar het overeenstemmend gestructureerd adres uit het officiële adresregister.
 </p><p>
Het OSLO-Adres vocabularium voegt termen toe aan bestaande RDF-vocabularia zodat gestructureerde adressen kunnen worden uitgewisseld. Een Europese standaard voor dergelijke adressen bestaat (<a href="http://inspire.ec.europa.eu/documents/Data_Specifications/INSPIRE_DataSpecification_AD_v3.0.pdf">INSPIRE-Address</a>) maar heeft momenteel nog geen RDF-vocabularium. Bovendien is deze standaard bedoeld om om het even welk Europees adres te beschrijven, hij is m.a.w. te generiek voor uitwisseling van Belgische adressen. We zorgden er echter voor dat OSLO-Adres perfect mapt op INSPIRE-Address.
 </p><p>
Voor Adresvoorstelling werd door ISA al <a href="https://www.w3.org/ns/locn">een RDF-definitie</a> uitgewerkt, gebaseerd op de het datatype AddressRepresentation van INSPIRE. OSLO-Adres voegt daar enkele subproperties (specialisaties van ISA definities) aan toe die specifiek zijn voor Belgische adressen (bv. busnummer). Misleidend is wel dat ISA deze adresvoorstelling Address noemt.
 </p><p>
Een adres in OSLO-Adres laat enkel toe om Belgische gestructureerde adressen uit te wisselen. Voor buitenlandse adressen moet het datatype Adresvoorstelling worden gebruikt (wat impliceert dat buitenlandse adressen hoogstens het attribuut van een ander gegeven kunnen zijn).
 </p><p>
Bijzondere adressen zoals postbussen kunnen als adresvoorstelling gemodelleerd te worden of als uitbreiding van een bestaand officieel gestructureerd adres (entiteit Adresuitbreiding). Er wordt in het tweede geval van uitgegaan dat met deze speciale adressen altijd een officieel gestructureerd adres overeenkomt.
</p><p>
Aanvullend op de INSPIRE-adresspecificatie modelleert OSLO-Adres ook de toekenning van adressen aan zogenaamde adresseerbare objecten, d.w.z. de objecten op het terrein waaraan de adressen officieel door de adresbeheerder zijn gekoppeld. Ook kan worden vermeld wie het adres of de straatnaam officieel heeft opgevoerd (typisch de adresbeheerder).
</p>
{% endblock %}
