<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% set language = "nl" %}
{% set sortattr = "sort" %}

<html xml:lang="nl" lang="nl" dir="ltr" typeof="bibo:Document " about="" property="dcterms:language" content="nl" prefix="dcterms: http://purl.org/dc/terms/ bibo: http://purl.org/ontology/bibo/ schema: http://schema.org/ w3p: http://www.w3.org/2001/02pd/rec54#" xmlns="http://www.w3.org/1999/xhtml">

<head>
  {% set name = metadata.title|lower|replace(' ', '-') %} 
  <title>{{ metadata.title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://dij151upo6vad.cloudfront.net/2.latest/css/vlaanderen-ui.css" />
  <link rel="stylesheet" href="https://dij151upo6vad.cloudfront.net/2.latest/css/vlaanderen-ui-corporate.css" />

  <link rel="icon" sizes="192x192" href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/icon-highres-precomposed.png" />
  <link rel="apple-touch-icon" href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/touch-icon-iphone-precomposed.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/touch-icon-ipad-precomposed.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/touch-icon-iphone-retina-precomposed.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/touch-icon-ipad-retina-precomposed.png" />

  <meta name="msapplication-square70x70logo" content="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/tile-small.png" />
  <meta name="msapplication-square150x150logo" content="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/tile-medium.png" />
  <meta name="msapplication-wide310x150logo" content="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/tile-wide.png" />
  <meta name="msapplication-square310x310logo" content="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/tile-large.png" />
  <meta name="msapplication-TileColor" content="#FFE615" />
</head>

<body>
  <div style="min-height:44px;;" id="vlaanderen-header">
    <!-- insert your global header here -->
    <script type="text/javascript" src="https://widgets.vlaanderen.be/widget/live/5ecf33a0a922428cb9d944c55362ed15"></script>
    <!-- end global header-->
  </div>

  <!-- Start page content -->
  <div class="page">
    <div class="layout layout--wide">
      <div class="skiplink">
        <a rel="nofollow noreferrer" href="#main">Overslaan en naar de algemene inhoud gaan</a>
      </div>
    </div>
    <div class="page">
      <div class="region">
        <div class="layout layout--wide">
          <div class="grid u-hr">
            <div class="col--9-12 col--1-1--s">
              <h1 class="h1">{{ metadata.title }}</h1>

              <div class="head" role="status" id="status">
              <dl>
              <dt>Status</dt><dd><a href="{{metadata.status}}">{{metadata.status}}</a></dd>
              <dt>Uitgegeven op</dt><dd>{{metadata.issued}}</dd>
              <dt>Deze versie</dt><dd><a href="{{metadata.navigation.self}}">{{metadata.navigation.self}}</a></dd>
              {% if metadata.navigation.next %}
              <dt>Volgende versie</dt><dd><a href="{{metadata.navigation.next}}">{{metadata.navigation.next}}</a></dd>
              {% endif %}
              {% if metadata.navigation.prev %}
              <dt>Vorige versie</dt><dd><a href="{{metadata.navigation.prev}}">{{metadata.navigation.prev}}</a></dd>
              {% endif %}
              </dl>
              </div>

              <div class="head" role="contentinfo" id="respecHeader">
                <dl>
                        {% for role, contributors in contributors | groupby("role") %}
                          {% if role == "A" %}
                            {% set authors = contributors|sort(attribute='last_name') %}
                        {% if authors %}
                          <dt>Auteurs</dt>
                          {% for author in authors %}
                          <dd inlist="" rel="foaf:maker" class="p-author h-card vcard">
                              <span typeof="foaf:Person">
                              <span class="p-name fn" property="foaf:lastName">{{ author.last_name }}</span>,
                              <span class="p-name fn" property="foaf:firstName">{{ author.first_name }}</span>
                              {% if author.affiliation.website and author.affiliation.name %}
                              - <a href="{{ author.affiliation.website }}" class="p-org org h-org h-card" rel="foaf:workplaceHomepage">{{ author.affiliation.name }}</a>
                              {% elif author.affiliation.name %}
                              - <span class="p-org org h-org h-card">{{ author.affiliation.name }}</span>
                              {% endif %}
                							{% if author.email %}
                               - <span class="ed_mailto"><a href="mailto:{{ author.email }}" rel="foaf:mbox" class="u-email email">{{ author.email }}</a></span>
                              {% endif %}
                              </span>
                          </dd>
                          {% endfor %}
                        {% endif %}
                      {% elif role == "E" %}
                        {% set editors = contributors|sort(attribute='last_name') %}
                        {% if editors %}
                          <dt>Editors</dt>
                          {% for editor in editors %}
                          <dd inlist="" rel="bibo:editor" class="p-author h-card vcard">
                              <span typeof="foaf:Person">
                              <span class="p-name fn" property="foaf:lastName">{{ editor.last_name }}</span>,
                              <span class="p-name fn" property="foaf:firstName">{{ editor.first_name }}</span>
                              {% if editor.affiliation.website and editor.affiliation.name %}
                                 - <a href="{{ editor.affiliation.website }}" class="p-org org h-org h-card" rel="foaf:workplaceHomepage">{{ editor.affiliation.name }}</a>
                              {% elif editor.affiliation.name %}
                                 - <span class="p-org org h-org h-card">{{ editor.affiliation.name }}</span>
                              {% endif %}
                							{% if editor.email %}
                                 - <span class="ed_mailto"><a href="mailto:{{ editor.email }}" rel="foaf:mbox" class="u-email email">{{ editor.email }}</a></span>
                              {% endif %}
                							</span>
                          </dd>
                        {% endfor %}
                        {% endif %}
                      {% elif role == "C" %}
                        {% set pure_contributors = contributors|sort(attribute='last_name') %}
                        {% if pure_contributors %}
                        <dt>Medewerkers</dt>
                          {% for contributor in pure_contributors %}
                          <dd inlist="" rel="dcterms:contributor" class="p-author h-card vcard">
                              <span typeof="foaf:Person">
                              <span class="p-name fn" property="foaf:lastName">{{ contributor.last_name }}</span>,
                              <span class="p-name fn" property="foaf:firstName">{{ contributor.first_name }}</span>
                              {% if contributor.affiliation.website and contributor.affiliation.name %}
                              - <a href="{{ contributor.affiliation.website }}" class="p-org org h-org h-card" rel="foaf:workplaceHomepage">{{ contributor.affiliation.name }}</a>
                              {% elif contributor.affiliation.name %}
                              - <span class="p-org org h-org h-card">{{ contributor.affiliation.name }}</span>
                              {% endif %}
                							{% if contributor.email %}
                               - <span class="ed_mailto"><a href="mailto:{{ contributor.email }}" rel="foaf:mbox" class="u-email email">{{ contributor.email }}</a></span>
                              {% endif %}
							                </span>
                          </dd>
                            {% endfor %}
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                </dl>
              </div>

              <div class="head" role="metainfo" id="metainfo">
              <dl>
              <dt>Brondata</dt><dd><a href="{{metadata.repositoryurl}}">{{metadata.repositoryurl}}</a></dd>
              <dt>Changelog</dt><dd><a href="{{metadata.changelogurl}}">{{metadata.changelogurl}}</a></dd>
              <dt>Opmerkingen en feedback</dt><dd><a href="{{metadata.feedbackurl}}">{{metadata.feedbackurl}}</a></dd>
              <dt>Standaardenregister</dt><dd><a href="{{metadata.standaardregisterurl}}">{{metadata.standaardregisterurl}}</a></dd>

              <dt>Afhankelijkheden</dt><dd>
                {% for dep in metadata.dependencies %}
		<a href="{{ dep.packageurl }}">{{ dep.packagelabel }}</a>
                {% endfor %}
		</dd>
              </dl>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content">
      <div class="layout layout--wide">
        <div class="grid">
          <div class="col--8-12 col--12-12--s">
            <div class="region" id="introduction">
              <div class="introduction typography">
              {% block introduction %}
                <p>Dit document beschrijft een <strong>applicatieprofiel</strong>, in dit geval <strong>{{ metadata.title }}</strong>.
                <!--Een applicatieprofiel is een specificatie die bestaande termen hergebruikt van verschillende basis-standaarden en daar meer specificiteit aan toevoegt.-->
                <!-- Daarbij wordt het gebruik van de termen toegelicht voor de interbestuurlijke uitwisseling van overheidsinformatie.-->
                Dit applicatieprofiel beantwoordt de vraag over hoe het corresponderende domeinmodel in de praktijk kan toegepast worden.
                Daarbij worden de beperkingen (kardinaliteit, codelijsten) toegelicht en de overeenkomstige (RDF) termen opgelijst.
                </p>
              {% endblock %}
              </div>
            </div>

            <div class="region region--no-space-top typography" id="summary">
                <h2 class="h2" aria-level="1" role="heading" id="h2_sotd">Samenvatting</h2>
                {% block summary %} 
                  {% if metadata.description %} 
                    {{ metadata.description[language] }}
                  {% endif %} 
                {% endblock %}
            </div>

            <div class="region region--no-space-top typography" id="status">
              <section class="introductory" id="sotd" typeof="bibo:Chapter" resource="#ref" rel="bibo:Chapter">
                <h2 class="h2" aria-level="1" role="heading" id="h2_sotd">Status van dit document</h2>
                {% block status %}
                <p>
                  Dit applicatieprofiel heeft status <a href="{{metadata.status }}">{{ metadata.statuslabel }}</a> en werd uitgegeven op {{ metadata.issued }}.
	        </p><p>
                  Informatie over het gevolgde proces en de beslissingen om tot deze specificatie te komen zijn beschikbaar in het 
                  <a href="{{metadata.standaardregisterurl}}">standaardenregister</a>.
                </p>
                {% endblock %}
              </section>
            </div>

            <div class="region region--no-space-top typography" id="license">
              <h2 class="h2">Licentie</h2>
              {% block license %}
              <p><span rel="dct:type" property="dct:title" href="http://purl.org/dc/dcmitype/Text" xmlns:dct="http://purl.org/dc/terms/">Deze specificatie</span> van <a rel="cc:attributionURL" property="cc:attributionName" href="http://vlaanderen.be/informatievlaanderen" xmlns:cc="http://creativecommons.org/ns#">Informatie Vlaanderen</a> is gepubliceerd onder de <a href="{{ metadata.license }}" rel="license">"Modellicentie Gratis Hergebruik - v1.0"</a>.</p>
              {% endblock %}
            </div>
            <div class="region region--no-space-top typography" id="conformance">
              <h2 class="h2" id="conformance" aria-level="1" role="heading">Conformiteit</h2>
              {% block conformance %}
              <p>De conformiteit voor applicatieprofielen is <a href="/doc/begeleidend/applicatieprofielen/conformiteit">hier</a> te vinden.</p>
              {% endblock %}
            </div>
            <div class="region region--no-space-top" id="overview">
              <h2 class="h2">Overzicht</h2>
              <div class="grid">
                <div class="col--9-12 col--1-1--s typography">
                  {% if ( ( classes | length > 0)   ) %}
                  <div class="region region--no-space-top">
                    <p>In dit document wordt correct gebruik van de volgende entiteiten toegelicht:
                      <br />
                      |
                      {%- for class in classes |sort(attribute=sortattr) %}
                      <a href="#{{ class.name }}">{{ class.label[language] }}</a> |
                      {%- endfor %}
                    </p>
                  </div>
                  {% endif %}
                  {% if ( ( datatypes | length ) > 0 ) %}
                  <div class="region region--no-space-top">
                    <p> In dit document worden de volgende datatypes toegelicht:
                      <br />
                      |
                      {%- for datatype in datatypes |sort(attribute=sortattr) %}
                      <a href="#{{ datatype.name }}">{{ datatype.label[language] }}</a> |
                      {%- endfor %}
                    </p>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="region region--no-space-top">
              <a href="{{ documentroot }}/html/overview.jpg" target="_blank">
                 <img src="{{ documentroot }}/html/overview.jpg" />
              </a>
            </div>
            <div class="region region--no-space-top">
              <h2 class="h2">Entiteiten</h2>
            </div>
            {% for entity in classes | sort(attribute=sortattr) %}
              <div class="region region--no-space-top">
              <h3 class="h3" id="{{ entity.name }}"><a href="{{ entity.uri }}" data-toggle="tooltip" data-content="{{ entity.uri }}" data-placement="right">{{ entity.label[language] }}</a></h3>
                <div class="region region--no-space-top">
                  <dl>
                    <dt>Beschrijving</dt><dd>{{ entity.description[language] }}</dd>
                    {% if entity.usage[language] %}
                    <dt>Gebruik</dt><dd>{{ entity.usage[language] | safe }}</dd>
                    {% endif %}
		    {% if ((entity.parents | length) > 0 ) %} 
		    <dt>Subklasse van <dt><dd>
                        {%- for parent in entity['parents'] %}
                        <a href="{{ parent.scoped_uri}}">{{ parent.label }}</a>{% if not loop.last %}, {% endif %}
                    	{%- endfor %}
		   </dd>
                    {% endif %}
                    <dt>Eigenschappen</dt>
		    {% if ((entity.properties | length) > 0 ) %} 
                    <dd>Voor deze entiteit zijn de volgende eigenschappen gedefinieerd:
                    {%- for prop in entity['properties'] | sort(attribute=sortattr) %}
                      <a href="#{{ (entity.name ~ ':' ~ prop.name) | urlencode }}">{{ prop.label[language] }}</a>{% if not loop.last %}, {% endif %}
                    {%- endfor %}.</dd>
                    {% else %}
                    <dd>Voor deze entiteit zijn geen eigenschappen gedefinieerd.</dd>
                    {% endif %}
                  </dl>
                </div>
		{% if ((entity.properties | length) > 0 ) %} 
                <div class="u-table-overflow">
                  <table class="data-table">
                    <thead>
                      <tr class="data-table__header">
                        <th class="data-table__header-title--sortable data-table__header-title--sortable-active">Eigenschap</th>
                        <th class="data-table__header-title--sortable">Verwacht Type</th>
                        <th class="data-table__header-title--sortable">Kardinaliteit</th>
                        <th class="data-table__header-title--sortable">Beschrijving</th>
                        <th class="data-table__header-title--sortable">Gebruik</th>
                        <th class="data-table__header-title--sortable">Codelijst</th>
                      </tr>
                    </thead>

                    <tbody class="supertype">
                    {% for prop in entity['properties'] | sort(attribute=sortattr) %}
                      <tr id="{{ (entity.name ~ ':' ~ prop.name) | urlencode }}" typeof="rdfs:Property" resource="{{ prop.uri }}">
                        <td>
                          <code property="rdfs:label">
                            <a href="{{ prop.uri }}" data-toggle="tooltip" data-content="{{ prop.uri }}" data-placement="right">
                            {{ prop.label[language] }}</a>
                          </code>
                        </td>
                        <td>
                          {% for range in prop.scopedrange %}
			    {% if range['range_uri'] == range['range_puri'] %} 
			    <a href="{{ range['range_uri'] }}" data-toggle="tooltip" data-content="{{ range['range_puri'] }}" data-placement="right">{{ range['range_label'][language] }}</a>
                            {% else %}
			    <a href="{{ range['range_uri'] }}" data-placement="right">{{ range['range_label'][language] }}</a>
			    {% endif %}
                          {% endfor %}
                        </td>
                        <td>{{ prop.cardinality }}</td>
                        <td property="rdfs:comment">{{ prop.description[language] }}</td>
                        <td property="vann:usageNote">{{ prop.usage[language] | safe }}</td>
                        <td>{% if prop['codelist_uri'] %}<a href="{{ prop['codelist_uri'] }}">Link</a>{% endif %}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
      			  {% endif %}
            </div>
            {% endfor %}

            {% if datatypes %}
            <div class="region region--no-space-top">
              <h2 class="h2">Datatypes</h2>
            </div>
            {% for entity in datatypes | sort(attribute=sortattr)%}
            <div class="region region--no-space-top">
              {% if entity.scopeduri %}
              <h3 class="h3" id="{{ entity.name }}"><a href="{{ entity.scopeduri }}" data-toggle="tooltip" data-content="{{ entity.uri }}" data-placement="right">{{ entity.label[language] }}</a></h3>
	      {% else %}
              <h3 class="h3" id="{{ entity.name }}"><a href="{{ entity.uri }}" data-toggle="tooltip" data-content="{{ entity.uri }}" data-placement="right">{{ entity.label[language] }}</a></h3>
	      {% endif %}
                <div class="region region--no-space-top">
                  <dl>
                    <dt>Beschrijving</dt><dd>{{ entity.description[language] }}</dd>
                    {% if entity.usage[language] %}
                    <dt>Gebruik</dt><dd>{{ entity.usage[language] | safe }}</dd>
                    {% endif %}
		    {% if ((entity.parents | length) > 0 ) %} 
		    <dt>Subklasse van <dt><dd>
                        {%- for parent in entity['parents'] %}
                        <a href="{{ parent.scoped_uri}}">{{ parent.label }}</a>{% if not loop.last %}, {% endif %}
                    	{%- endfor %}
		   </dd>
                    {% endif %}
                    <dt>Eigenschappen</dt>
		    {% if ((entity.properties | length) > 0 ) %} 
                    <dd>Voor dit datatype zijn de volgende eigenschappen gedefinieerd:
                    {%- for prop in entity['properties'] | sort(attribute=sortattr) %}
                      <a href="#{{ (entity.name ~ ':' ~ prop.name) | urlencode }}">{{ prop.label[language] }}</a>{% if not loop.last %}, {% endif %}
                    {%- endfor %}.</dd>
                    {% else %}
                    <dd>Voor dit datatype zijn geen eigenschappen gedefinieerd.</dd>
                    {% endif %}
                  </dl>
                </div>
		{% if ((entity.properties | length) > 0 ) %} 
                <div class="u-table-overflow">
                  <table class="data-table">
                    <thead>
                      <tr class="data-table__header">
                        <th class="data-table__header-title--sortable data-table__header-title--sortable-active">Eigenschap</th>
                        <th class="data-table__header-title--sortable">Verwacht Type</th>
                        <th class="data-table__header-title--sortable">Kardinaliteit</th>
                        <th class="data-table__header-title--sortable">Beschrijving</th>
                        <th class="data-table__header-title--sortable">Gebruik</th>
                        <th class="data-table__header-title--sortable">Codelijst</th>
                      </tr>
                    </thead>

                    <tbody class="supertype">
                      {% for prop in entity['properties'] | sort(attribute=sortattr) %}
                      <tr id="{{ (entity.name ~ ':' ~ prop.name ) | urlencode }}" typeof="rdfs:Property" resource="{{ prop.uri }}">
                        <td>
                          <code property="rdfs:label">
                            <a href="{{ prop.uri }}" data-toggle="tooltip" data-content="{{ prop.uri }}" data-placement="right">{{ prop.label[language] }}</a>
                          </code>
                        </td>
                        <td>
                          {% for range in prop.scopedrange %}
			    {% if range['range_uri'] == range['range_puri'] %} 
			    <a href="{{ range['range_uri'] }}" data-toggle="tooltip" data-content="{{ range['range_puri'] }}" data-placement="right">{{ range['range_label'][language] }}</a>
                            {% else %}
			    <a href="{{ range['range_uri'] }}" data-placement="right">{{ range['range_label'][language] }}</a>
			    {% endif %}
                          {% endfor %}
                        </td>
                        <td>{{ prop['cardinality'] }}</td>
                        <td property="rdfs:comment">{{ prop.description[language] }}</td>
                        <td property="vann:usageNote">{{ prop.usage[language] | safe }}</td>
                        <td>{% if prop['codelist_uri'] %}<a href="{{ prop['codelist_uri'] }}">Link</a>{% endif %}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            {% endif %}
            <div class="region region--no-space-top" id="jsonld">
                <h2 class="h2" aria-level="1" role="heading" id="h2_sotd">JSON-LD context</h2>
                (niet normatief)
                {% block jsonld %}
                <p>Een herbruikbare JSON-LD context definitie voor dit applicatieprofiel is terug te vinden op: <a href="{{ documentroot }}/context/{{ metadata.filename }}.jsonld" target="_blank">{{ documentroot }}/context/{{ metadata.filename }}.jsonld</a></p>
                {% endblock %}
            </div>
            <div class="region region--no-space-top" id="shacl">
                <h2 class="h2" aria-level="1" role="heading" id="h2_sotd">SHACL template</h2>
                (niet normatief)
                {% block shacl%}
                <p>Een herbruikbare SHACL template definitie voor dit applicatieprofiel is terug te vinden op: <a href="{{ documentroot }}/shacl/{{ metadata.filename }}-SHACL.ttl" target="_blank">{{ documentroot }}/shacl/{{ metadata.filename }}-SHACL.ttl</a></p>
                {% endblock %}
            </div>
          </div>
          <div class="col--3-12 col--12-12--s col--4-12--m push--1-12 push--reset--m" id="sideNav">
              <nav class="side-navigation js-sticky region" id="sideNav">
                  <div class="side-navigation__content js-scrollspy">
                      <div class="side-navigation__group">
                          <ul>
                              <li class="side-navigation__item">
                                  <a href="#introduction">Inleiding</a>
                              </li>
                              <li class="side-navigation__item">
                                  <a href="#summary">Samenvatting</a>
                              </li>
                              <li class="side-navigation__item">
                                  <a href="#status">Status van dit document</a>
                              </li>
                              <li class="side-navigation__item">
                                  <a href="#license">Licentie</a>
                              </li>
                              <li class="side-navigation__item">
                                  <a href="#conformance">Conformiteit</a>
                              </li>
                              <li class="side-navigation__item">
                                  <a href="#overview">Overzicht</a>
                              </li>
                              <li class="side-navigation__item">
                                  <a href="#jsonld">JSON-LD Context</a>
                              </li>
                              <li class="side-navigation__item">
                                  <a href="#shacl">SHACL template</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </nav>
          </div>
    <!-- End page content -->
      </div>
    </div>
  </div>
  </div>
  <div id="vlaanderen-footer">
    <!-- insert your Vlaanderen-footer-code here -->
    <script type="text/javascript" src="https://widgets.vlaanderen.be/widget/live/d6d44414e7c242f396ab6da8f8da5198"></script>
    <!-- End global footer-->
  </div>

  <script src="https://dij151upo6vad.cloudfront.net/2.latest/js/vlaanderen-ui.js"></script>

  <style>
    @media screen {  /* hide from IE3 */
      a[href]:hover { background: #ffa }
    }

    p {
      text-align: justify;
    }

    tr:nth-child(even) td     { background-color:#eee; }

    dt, dd { margin-top: 0; margin-bottom: 0 } /* opera 3.50 */
    dt { font-weight: bold }

    pre, code { font-family: monospace } /* navigator 4 requires this */

    em {
          font-style: italic;
    }

    img {
       width: 100%;
    }

    .tooltip {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 800;
      display: none;
      max-width: 128rem;
      background: #fff;
      border: 1px solid #ccc;
      margin-bottom: 1.5rem;
      text-align: center;
      font-size: 1.4rem;
      color: #000;
      background-clip: padding-box;
    }
  </style>
</body>
</html>
