{% extends "oj.j2" %}

{% block summary %}
<p>De Objectcatalogus begroeid voorkomen is een uitbreiding op het generiek object FysiekVoorkomen. Het begroeid voorkomen omvat de vegetatieve elementen op het Openbaar Domein die niet als een solitair element worden geïnventariseerd, maar een geheel deel van het van het aardoppervlak omvat. Deze objectcatalogus is een uitbreiding naast de uitbreiding onbegroeid voorkomen dat het niet vegetatieve oppervlak omvat van een terreindeel en de objectcatalogus watervoorkomen dat de wateroppervlakken omvat.</p>
{% endblock %}

{% block jsonld %}
<p>Een herbruikbare JSON-LD context definitie voor dit applicatieprofiel is terug te vinden op: <a href="../../../context/begroeidvoorkomen.jsonld" target="_blank">http://data.vlaanderen.be/context/begroeidvoorkomen.jsonld</a></p>
{% endblock %}