{% extends "ap.j2" %}

{% block summary %}
    <p>Dit applicatieprofiel is ontwikkeld in het kader van het Digitaliseringsproject van het Departement Kanselarij en Bestuur, dat tot doel heeft om de besluitvorming van de Vlaamse Regering te innoveren om zo beter beleid te maken.</p>

    <p>Dit applicatieprofiel laat toe om dossiers, procedurestappen, adviezen, agendapunten, ministerraden, de daaruitvolgende beslissingen, etc. te beschrijven. Daarnaast wordt ook de publicatie van de beslissingen van de Vlaamse Regering en van andere leidende ambtenaren gecapteerd.</p>

{% endblock %}

{% block jsonld %}
<p>Een herbruikbare JSON-LD context definitie voor dit applicatieprofiel is terug te vinden op: <a href="https://test.data.vlaanderen.be/context/besluitvorming.jsonld" target="_blank">https://test.data.vlaanderen.be/context/besluitvorming.jsonld</a></p>
{% endblock %}
