{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>Het vocabularium Besluit is ontwikkeld binnen het project
<a href="http://lokaalbestuur.vlaanderen.be/lokale-besluiten-als-gelinkte-open-data">Lokale Besluiten als Gelinkte Open Data</a>.
Het Besluit vocabularium specificeert een aantal klassen en eigenschappen om een besluit te beschrijven.</p>
{% endblock %}

{% block status %}<p>Een lijst van de recentste vocabularia is terug te vinden op
<a href="https://data.vlaanderen.be/ns">https://data.vlaanderen.be/ns</a>.</p><br />

<p>Dit document is de specificatie van een vocabularium en biedt een gedeeld begrippenkader voor bepaalde concepten.</p>
<p>Op 04/10/2018 werd dit document als Standaard gepubliceerd door de werkgroep Datastandaarden OSLO, bekrachtigd door het stuurorgaan Vlaams Informatie- en ICT-beleid op 03/07/2018 en goedgekeurd door de Vlaamse Regering op 20/07/2018.
Deze standaard heeft het statuut van ‘verplicht toe te passen’.</p>

<p>Feedback op deze specificatie kan gegeven worden via de <a href="mailto:digitaalABB@bz.vlaanderen.be">mailing lijst</a>
of als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">
publieke reviewdiscussielijst</a>.</p>
{% endblock %}



{% block license %}
<p>Dit vocabularium van <a href="https://www.vlaanderen.be/nl/contact/adressengids/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">
Agentschap Binnenlands Bestuur</a> is uitgegeven onder de <a href="https://overheid.vlaanderen.be/sites/default/files/documenten/ict-egov/licenties/hergebruik/modellicentie_gratis_hergebruik_v1_0.html">
Modellicentie Gratis Hergebruik - v1.0</a>.</p>
{% endblock %}
