{% extends "ap.j2" %}

{% block introduction %}
<p>Dit document beschrijft een <strong>applicatieprofiel</strong>, in dit geval <strong>{{ title }}</strong>.
Het applicatieprofiel is ontwikkeld binnen het project
<a href="http://lokaalbestuur.vlaanderen.be/lokale-besluiten-als-gelinkte-open-data">Lokale Besluiten als Gelinkte
Open Data</a> en laat toe om de notulen en besluiten van een bestuursorgaan gelinkt op te maken,
gelinkt authentiek te bewaren en gelinkt te ontsluiten.
Het beantwoordt de vraag over hoe het corresponderende domeinmodel in de praktijk kan toegepast worden.
Daarbij worden de beperkingen (kardinaliteit, codelijsten) toegelicht en de overeenkomstige (RDF) termen opgelijst.
</p>
{% endblock %}


{% block license %}
<p>Deze specificatie van
<a href="https://www.vlaanderen.be/nl/contact/adressengids/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">
Agentschap Binnenlands Bestuur</a> is gepubliceerd onder de
<a href="https://overheid.vlaanderen.be/sites/default/files/documenten/ict-egov/licenties/hergebruik/modellicentie_gratis_hergebruik_v1_0.html">
Modellicentie Gratis Hergebruik - v1.0</a>.</p>
{% endblock %}

{% block summary %}
    <p>Het OSLO- Besluit Publicatie applicatieprofiel is een profiel op bestaande vocabularia met betrekking tot de publicatie van besluiten als gelinkte open data.
	</p>

	<p>Dit applicatieprofiel is ontwikkeld om besluiten die lokale besturen verplicht zijn om te publiceren (publicatieplicht) toe te laten om op een eenvoudige wijze te voldoen aan de meldingsplicht en om de besluiten ook gemakkelijker vindbaar te maken voor burgers. De Vlaamse regering wil dit applicatieprofiel verplicht maken via een Besluit van de Vlaamse Regering. Het applicatieprofiel omvat alle entiteiten en attributen die moeten ontsloten worden.</p>

	<p>Het applicatieprofiel laat toe de zittingen, aanwezige mandatarissen, agendapunten en daaruitvolgende besluiten, met hun rechtsgronden en context, bij lokale besturen (steden, gemeentes en provincies) te beschrijven. Verder kan ook het resultaat van de stemming gecapteerd worden.</p>

	<p>De kardinaliteiten zijn redelijk restrictief daar de structuur en inhoud van besluiten vastligt en gevolgd moet worden om rechtsgeldigheid te bekomen.</p>
{% endblock %}

{% block status %}
<p>
  Dit applicatieprofiel dient om het specifieke gebruik van de entiteiten relevant voor de beschreven applicatie te verduidelijken.
</p>
<p>Op 04/10/2018 werd dit document als Standaard gepubliceerd door de werkgroep Datastandaarden OSLO, bekrachtigd door het stuurorgaan Vlaams Informatie- en ICT-beleid op 03/07/2018 en goedgekeurd door de Vlaamse Regering op 20/07/2018.
Deze standaard heeft het statuut van ‘verplicht toe te passen’.</p>                                                         
<p>Feedback op deze specificatie kan gegeven worden via de <a href="mailto:digitaalABB@bz.vlaanderen.be">mailing lijst</a> of als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">publieke reviewdiscussielijst</a>.</p>   
{% endblock %}

{% block jsonld %}
<p>Dit profiel heeft nog geen JSON-LD context.</p>
{% endblock %}


