{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>Het vocabularium Besluit is ontwikkeld binnen het project
<a href="http://lokaalbestuur.vlaanderen.be/lokale-besluiten-als-gelinkte-open-data">Lokale Besluiten als Gelinkte Open Data</a>.
Het Besluit vocabularium specificeert een aantal klassen en eigenschappen om een besluit te beschrijven.</p>
{% endblock %}



{% block status %}
<p><em>Deze sectie beschrijft de status van dit document op het moment van publicatie.</em></p><br />

<p>Een lijst van de recentste vocabularia is terug te vinden op
<a href="http://data.vlaanderen.be/ns">http://data.vlaanderen.be/ns</a>.</p><br />

<p>Dit document is de specificatie van een vocabularium en biedt een gedeeld begrippenkader voor bepaalde concepten,
de specificatie is in publieke review tot maart 2018. De termen gedefinieerd in dit vocabularium zijn persistent
en zullen bijgevolg nooit verdwijnen, noch zullen de definities veranderen behalve dan om een bestaande definitie
verder te verduidelijken. Termen kunnen echter wel als verouderd worden bestempeld en vervangen
worden in nieuwere versies van deze specificatie.</p><br />

<p>Feedback op deze specificatie kan gegeven worden via de <a href="mailto:digitaalABB@bz.vlaanderen.be">mailing lijst</a>
of als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">
publieke reviewdiscussielijst</a>.</p>
{% endblock %}



{% block license %}
<p>Dit vocabularium van <a href="https://www.vlaanderen.be/nl/contact/adressengids/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">
Agentschap Binnenlands Bestuur</a> is uitgegeven onder de <a href="https://overheid.vlaanderen.be/sites/default/files/documenten/ict-egov/licenties/hergebruik/modellicentie_gratis_hergebruik_v1_0.html">
Modellicentie Gratis Hergebruik - v1.0</a>.</p>
{% endblock %}
