{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>Het vocabularium Bestuur is ontwikkeld binnen het project
<a href="http://lokaalbestuur.vlaanderen.be/lokale-besluiten-als-gelinkte-open-data">Lokale Besluiten als Gelinkte Open Data</a>.
Het Bestuur vocabularium specificeert een aantal klassen en eigenschappen om een bestuur te beschrijven.</p>
{% endblock %}
