{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
Een Open Data catalogus is een catalogus van meta data beschrijvingen van datasets welke beschikbaar zijn als Open Data. 
Een dataset is een verzameling van gegevens welke als een geheel ontsloten worden. De ontsluiting van een dataset 
volgens een formaat wordt een distributie genoemd. 
</p><p>
Dit vocabularium hergebruikt de termen van <a href="">DCAT-AP</a>. Welke op zijn beurt gebaseerd zijn op deze van <a href="">DCAT</a>.
</p><p>
In dit vocabularium worden de Nederlandstalige termen vastgelegd.
</p>
{% endblock %}

{% block status %}
<p>Een lijst van de recentste vocabularia is terug te vinden op
<a href="http://data.vlaanderen.be/ns">http://data.vlaanderen.be/ns</a>.</p><br />

<p>Dit document is de specificatie van een vocabularium en biedt een gedeeld begrippenkader voor bepaalde concepten.</p>

<p>
Dit document werd gepubliceerd door de werkgroep DCAT-AP Vlaanderen als Ontwerpdocument. Dit impliceert dat de standaard die in dit document beschreven wordt in ontwikkeling is. Bijgevolg kan dit document op elk moment aangepast, vervangen of achterhaald worden.
Dit document is bedoeld om uit te groeien tot een standaard in het beschreven domein.
</p>

<p>Feedback op deze specificatie kan gegeven worden als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">publieke reviewdiscussielijst</a>.</p>
{% endblock %}
