{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
Dit vocabularium laat toe om publieke dienstverlening te beschrijven, t.t.z. dienstverlening ingericht door een publieke organisatie ten behoeve van particulieren, bedrijven of voor andere publieke organisaties.
</p><p>
Het OSLO-Dienst vocabularium is volledig gebaseerd op het <a href="https://joinup.ec.europa.eu/asset/core_public_service/description">ISA Core Public Service vocabularium</a> en op de impliciete uitbreiding van dat vocabularium ten behoeve van een <a href="https://joinup.ec.europa.eu/asset/cpsv-ap/asset_release/core-public-service-vocabulary-application-profile-v20">applicatieprofiel voor een dienstencataloog</a>. Geen nieuwe termen werden toegevoegd, de uitbreiding bestaat enkel uit een vertaling van de termen naar het Nederlands.
 </p>
{% endblock %}

{% block status %}<p>Een lijst van de recentste vocabularia is terug te vinden op
<a href="http://data.vlaanderen.be/ns">http://data.vlaanderen.be/ns</a>.</p><br />

<p>Dit document is de specificatie van een vocabularium en biedt een gedeeld begrippenkader voor bepaalde concepten.</p>
<p>Op 04/10/2018 werd dit document als Standaard gepubliceerd door de werkgroep Datastandaarden OSLO, bekrachtigd door het stuurorgaan Vlaams Informatie- en ICT-beleid op 03/07/2018.
Deze standaard heeft het statuut van ‘vrijwillig toe te passen’.</p>

<p>Feedback op deze specificatie kan gegeven worden als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">publieke reviewdiscussielijst</a>.</p>
{% endblock %}