{% extends "ap.j2" %}

{% block summary %}
<p>
Dit is een applicatieprofiel op het <a href="http://data.vlaanderen.be/ns/dienst">OSLO-Dienst vocabularium</a>.
</p><p>
Een profiel voegt in principe termen samen uit verschillende RDF-vocabularia met het oog op een bepaalde toepassing (incl.constraints zoals  kardinaliteiten en codelijsten). Voor het OSLO-Dienst vocabularium baseerden we ons echter volledig op het vocabularium dat door ISA werd gemaakt om het <a href="https://joinup.ec.europa.eu/asset/cpsv-ap/asset_release/core-public-service-vocabulary-application-profile-v20">Core Public Service applicatieprofiel</a> te ondersteunen. Dat is een applicatieprofiel voor het beschrijven van een dienstencataloog, meer concreet een cataloog voor publieke dienstverlening. Het OSLO-Dienst applicatieprofiel neemt het ISA applicatieprofiel over, d.w.z. dezelfde constraints zijn van toepassing.
</p>
{% endblock %}

{% block status %}
<p>Dit applicatieprofiel dient om het specifieke gebruik van de entiteiten relevant voor de beschreven applicatie te verduidelijken.</p>
<p>Dit document werd gepubliceerd als Kandidaat-standaard. De specificatie zoals in dit document beschreven doorloopt momenteel een periode van publieke review, tijdens het welke geen wijzigingen aan deze specificatie worden doorgevoerd.<br/>
Dit document is bedoeld om uit te groeien tot een standaard in het beschreven domein. Desalniettemin heeft het op dit ogenblik geen officieel statuut en vertegenwoordigt het geen consensus binnen OSLO.</p>
<p>Feedback op deze specificatie kan gegeven worden als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">publieke reviewdiscussielijst</a>.</p>
{% endblock %}

{% block conformance %}
<p>Een applicatieprofiel is een specificatie voor gegevensuitwisseling dat bijkomende beperkingen introduceert voor het toepassen van vocabularia.
Dergelijke bijkomende beperkingen kunnen de volgende elementen bevatten:</p>
<p>
<ul>
<li>verfijning van de terminologie (klassen en eigenschappen) consistent met de semantiek uit de betreffende specificaties met een welbepaald gebruik als doel;</li>
<li>externe terminologie (klassen en eigenschappen) gebruikt voor nieuwe/extra termen die niet in de bestaande vocabularia voorkomen.</li>
</ul>
</p>
<p>Om conform te zijn met dit applicatieprofiel, geldt voor een implementatie dat ze:</p>
<ul>
<li>MOET Voor elke klasse steeds de eigenschappen bevatten die als minimum kardinaliteit 1 hebben.</li>
<li>MAG NIET meer dan 1 instantie bevatten van eigenschappen die 1 als maximum kardinaliteit hebben.</li>
<li>MAG terminologie (klassen en eigenschappen) gebruiken op een manier die consistent is met haar semantiek (definitie, gebruik, domein en bereik).</li>
<li>MAG NIET terminologie van andere gecontroleerde vocabularia gebruiken dan diegene die gedefinieerd wordt in dit applicatieprofiel.</li>
<li>MAG uitgebreid worden met klassen en eigenschappen van andere datamodellen (vocabularia) die niet overlappen met terminologie uit dit applicatieprofiel.</li>
</ul> 
{% endblock %}

{% block jsonld %}
<p>Een herbruikbare JSON-LD context definitie voor dit applicatieprofiel is terug te vinden op: <a href="http://data.vlaanderen.be/context/dienstencataloog.jsonld" target="_blank">http://data.vlaanderen.be/context/dienstencataloog.jsonld</a></p>
{% endblock %}
