{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
This vocabulary allows to describe public service offering, ie. services provided by a public organisation for the benefit of individuals, companies or for other public organisations.
</p><p>
The OSLO Service vocabulary is based entirely on the <a href="https://joinup.ec.europa.eu/asset/core_public_service/description">ISA Core Public Service vocabularium</a> and on the implied extension of that vocabulary for a <a href="https://joinup.ec.europa.eu/asset/cpsv-ap/asset_release/core-public-service-vocabulary-application-profile-v20">Application profile for a service catalogue</a>. No new terms were added, the extension only consists of a translation of the terms into Dutch.
 </p>
{% endblock %}