{% extends "ap.j2" %}

{% block summary %}
<p>
This is an application profile on the <a href="http://data.vlaanderen.be/ns/dienst">OSLO-Service Vocabulary</a>.
</p><p>
A profile basically combines terms from different RDF vocabularies for a specific application (including constraints such as cardinalities and code lists). However, for the OSLO Service vocabulary, we relied entirely on the vocabulary that was made by ISA for the <a href="https://joinup.ec.europa.eu/asset/cpsv-ap/asset_release/core-public-service-vocabulary-application-profile-v20">Core Public Service application profile</a>. This is an application profile for describing a service catalog, more specifically a catalog for public service offering. The OSLO Service application profile takes over the ISA application profile, this means that the same constraints apply.
</p>
{% endblock %}

{% block conformance %}
<p>An application profile is a data exchange specification that introduces additional restrictions for applying vocabularies.
Such additional restrictions may include the following elements:</p>
<p>
<ul>
<li>refinement of the terminology (classes and properties) consistent with the semantics from the relevant specifications with a specific use as target;</li>
<li>external terminology (classes and properties) used for new / extra terms that do not exist in the existing vocabulary.</li>
</ul>
</p>
<p>To be conform with this application profile, an implementation:</p>
<ul>
<li>MUST for each class always contain the properties with minimum cardinality 1.</li>
<li>CANNOT contain more than 1 instance of properties with maximum cardinality 1.</li>
<li>CAN use terminology (classes and properties) in a way that is consistent with its semantics (definition, use, domain and range).</li>
<li>CANNOT use terminology from other controlled vocabularies than the one defined in this application profile.</li>
<li>CAN be extended with classes and properties of other data models (vocabularia) that do not overlap with terminology from this application profile.</li>
</ul> 
{% endblock %}

{% block jsonld %}
<p>A reusable JSON-LD context definition for this application profile can be found at: <a href="http://data.vlaanderen.be/context/dienst.jsonld" target="_blank">http://data.vlaanderen.be/context/dienst.jsonld</a></p>
{% endblock %}