{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
Dit vocabularium laat toe om publieke dienstverlening te beschrijven, t.t.z. dienstverlening ingericht door een publieke organisatie ten behoeve van particulieren, bedrijven of voor andere publieke organisaties.
</p><p>
Het OSLO-Dienst vocabularium is volledig gebaseerd op het <a href="https://joinup.ec.europa.eu/asset/core_public_service/description">ISA Core Public Service vocabularium</a> en op de impliciete uitbreiding van dat vocabularium ten behoeve van een <a href="https://joinup.ec.europa.eu/asset/cpsv-ap/asset_release/core-public-service-vocabulary-application-profile-v20">applicatieprofiel voor een dienstencataloog</a>. Geen nieuwe termen werden toegevoegd, de uitbreiding bestaat enkel uit een vertaling van de termen naar het Nederlands.
 </p>
{% endblock %}
