{% extends "vocabularynlv2.j2" %}

{% block summary %}
    <p>Het conceptueel informatiemodel "dossier" vormt de basis voor de uitwisseling van dossiergegevens tussen verschillende diensten. Het definieert een aantal abstracte entiteiten, relevante eigenschappen en hun onderlinge relaties. Dit conceptueel informatiemodel vormt de basis voor ontwikkelaars en databankbeheerders om verder uit te werken tot een fysiek datamodel. Het vocabularium geeft een overzicht van de gebruikte terminologie en daaraan gekoppeld definities.</p>

{% endblock %}