{% extends "ap.j2" %}

{% block summary %}
<p>
Dit is een applicatieprofiel op het <a href="http://data.vlaanderen.be/ns/gebouw">OSLO-Gebouw vocabularium</a>.
</p><p>
De applicatie waarop dit profiel betrekking heeft is een Gebouwenregister. Gebouwregistratie houdt in dat de beheerders van dit gegeven gebouwen en gebouweenheden officieel vaststellen en vastleggen in een register. Het Gebouwenregister vormt zo de enige en unieke bron voor gebouwinformatie.
</p><p>
De kardinaliteiten op attributen en associaties in het model van het <a href="https://overheid.vlaanderen.be/producten-diensten/gebouwen-adressenregister">Gebouwenregister</a> waarop OSLO-Gebouw is gebaseerd werden overgenomen en bleken maar op een paar punten af te wijken van deze in <a href="https://inspire.ec.europa.eu/data-specifications/2892">INSPIRE-Building</a>. Zo laat het Gebouwenregister slechts één geometrie toe (de referentiegeometrie) en zijn de gebouw- en gebouweenheidstatus verplicht, wat logisch is gezien de registratieopdracht van het register.
</p><p>
Voor de codelijsten wordt zoveel mogelijk verwezen naar de overeenstemmende lijsten in INSPIRE. Echter waar deze codelijsten niet 100% overeenstemmen en moeten worden uitgebreid/ingeperkt/afgestemd, kon nog geen verwijzing gebeuren.
</p>
{% endblock %}

{% block status %}
<p>Dit applicatieprofiel dient om het specifieke gebruik van de entiteiten relevant voor de beschreven applicatie te verduidelijken.</p>

<p>Dit document werd gepubliceerd door de werkgroep Gebouwen- en Adressenregister als ontwerpdocument. Dit impliceert dat de standaard die in dit document beschreven wordt in ontwikkeling is. Bijgevolg kan dit document op elk moment aangepast, vervangen of achterhaald worden.
Dit document is bedoeld om uit te groeien tot een standaard in het beschreven domein.</p>

<p>Feedback op deze specificatie kan gegeven worden als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Discussion">publieke-review-discussielijst</a>.</p>
{% endblock %}

{% block conformance %}
<p>Een applicatieprofiel is een specificatie voor gegevensuitwisseling dat bijkomende beperkingen introduceert voor het toepassen van vocabularia.
Dergelijke bijkomende beperkingen kunnen de volgende elementen bevatten:</p>
<p>
<ul>
<li>verfijning van de terminologie (klassen en eigenschappen) consistent met de semantiek uit de betreffende specificaties met een welbepaald gebruik als doel;</li>
<li>externe terminologie (klassen en eigenschappen) gebruikt voor nieuwe/extra termen die niet in de bestaande vocabularia voorkomen.</li>
</ul>
</p>
<p>Om conform te zijn met dit applicatieprofiel, geldt voor een implementatie dat ze:</p>
<p>
<ul>
<li>MOET Voor elke klasse steeds de eigenschappen bevatten die als minimum kardinaliteit 1 hebben.</li>
<li>MAG NIET meer dan 1 instantie bevatten van eigenschappen die 1 als maximum kardinaliteit hebben.</li>
<li>MAG terminologie (klassen en eigenschappen) gebruiken op een manier die consistent is met haar semantiek (definitie, gebruik, domein en bereik).</li>
<li>MAG NIET terminologie van andere gecontroleerde vocabularia gebruiken dan diegene die gedefinieerd wordt in dit applicatieprofiel.</li>
<li>MAG uitgebreid worden met klassen en eigenschappen van andere datamodellen (vocabularia) die niet overlappen met terminologie uit dit applicatieprofiel.</li>
</ul>
</p>  
{% endblock %}

{% block jsonld %}
<p>Een herbruikbare JSON-LD context definitie voor dit applicatieprofiel is terug te vinden op: <a href="http://data.vlaanderen.be/context/gebouw.jsonld" target="_blank">http://data.vlaanderen.be/context/gebouw.jsonld</a></p>
{% endblock %}
