{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
Het vocabularium OSLO-Gebouw focust op termen die betrekking hebben op gebouwen en gebouweenheden. Vertrekpunt vormden termen gedefinieerd voor deze entiteiten in de <a href="https://overheid.vlaanderen.be/communicatiefiche-bouwsteen-vlaamse-basisregisters-gebouwenregister">Vlaamse Basisregisters</a> (VBR). Echter gebeurde ook afstemming met <a href="https://inspire.ec.europa.eu/data-specifications/2892">INSPIRE-Building</a> en met de federale werkgroep rond gebouwen (GT-BUNI).
</p><p>
Bij de afstemming op INSPIRE vormden de termen van het VBR het uitgangspunt, d.w.z. naast de termen die verplicht worden door INSPIRE werd enkel voor de overblijvende VBR-termen een equivalent gezocht. INSPIRE-building bevat veel meer termen dan deze die we voor OSLO-Gebouw hebben weerhouden. VBR beperkt zich bv. tot 2D-gebouwgeometrie terwijl INSPIRE ook terminologie heeft voor 2.5D of 3D gebouwgeometrie.  
</p><p>
Officieel bestaat er nog geen RDF-vocabularium waarop we de termen konden mappen of waarop de termen in dit vocabularium een aanvulling konden vormen. Niettemin voerden we bij de afstemming op INSPIRE-Building al een tentatieve mapping uit op de <a href="https://github.com/inspire-eu-rdf/inspire-rdf-vocabularies">RDF-termen</a>  in ontwikkeling.
</p>
{% endblock %}
