{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
Het vocabularium OSLO-Gebouw focust op termen die betrekking hebben op gebouwen en gebouweenheden. Vertrekpunt vormden termen gedefinieerd voor deze entiteiten in het <a href="https://overheid.vlaanderen.be/producten-diensten/gebouwen-adressenregister">Gebouwenregister</a> (VBR). Echter gebeurde ook afstemming met <a href="https://inspire.ec.europa.eu/data-specifications/2892">INSPIRE-Building</a> en met de federale werkgroep rond gebouwen (GT-BUNI).
</p><p>
Bij de afstemming op INSPIRE vormden de termen van het Gebouwenregister het uitgangspunt, d.w.z. naast de termen die verplicht worden door INSPIRE werd enkel voor de overblijvende Gebouwenregister-termen een equivalent gezocht. INSPIRE-building bevat veel meer termen dan deze die we voor OSLO-Gebouw hebben weerhouden. OSLO-Gebouw beperkt zich bv. tot een 2D/2.5D-gebouwgeometrie terwijl INSPIRE ook 3D-gebouwgeometrieën heeft uitgemodelleerd.  
</p><p>
Officieel bestaat er nog geen RDF-vocabularium waarop we de termen konden mappen of waarop de termen in dit vocabularium een aanvulling konden vormen. Niettemin voerden we bij de afstemming op INSPIRE-Building al een tentatieve mapping uit op de <a href="https://github.com/inspire-eu-rdf/inspire-rdf-vocabularies">RDF-termen</a> in ontwikkeling.
</p>
{% endblock %}

{% block status %}
<p>Een lijst van de recentste vocabularia is terug te vinden op
<a href="http://data.vlaanderen.be/ns">http://data.vlaanderen.be/ns</a>.</p><br />


<p>Dit document is de specificatie van een vocabularium en biedt een gedeeld begrippenkader voor bepaalde concepten.</p>

<p>
Dit document werd gepubliceerd door de werkgroep Gebouwen- en Adressenregister als ontwerpdocument. Dit impliceert dat de standaard die in dit document beschreven wordt in ontwikkeling is. Bijgevolg kan dit document op elk moment aangepast, vervangen of achterhaald worden.
Dit document is bedoeld om uit te groeien tot een standaard in het beschreven domein.
</p>

<p>Feedback op deze specificatie kan gegeven worden als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Discussion">publieke-review-discussielijst</a>.</p>
{% endblock %}
