{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
Het OSLO-Generiek vocabularium focust op termen van algemeen nut: er wordt naar gerefereerd in meerdere OSLO-vocabularia of het betreft termen die bruikbaar zijn voor domeinen buiten OSLO.
</p><p>
Voor termen uit bestaande vocabularia voegt OSLO-Generiek enkel een Nederlandse vertaling toe.
</p><p>
Een aantal termen komt uit de vocabularia waarop OSLO zich baseert. Bv. Formeel Kader komt uit het <a href="https://joinup.ec.europa.eu/asset/core_public_service/description">ISA Core Public Service vocabularium</a> en werd voorzien van attributen in het <a href="https://joinup.ec.europa.eu/asset/cpsv-ap/asset_release/core-public-service-vocabulary-application-profile-v20">applicatieprofiel voor een dienstencataloog</a>, eveneens van ISA.
</p><p>
Voor herkomstgegevens verwijst OSLO-Generiek naar <a href="https://www.w3.org/TR/prov-o/">W3C PROV-O</a>. Op basis van dat model zijn properties voorzien die beschrijven wanneer, door wie en waarom een record is aangemaakt of vernietigd. Dit laat toe om specifieke versies van objecten uit te wisselen (bv. om bestaande gegevens bij te werken). Met dat doel werd ook de entiteit Record toegevoegd, gedefinieerd als de beschrijving van een object. OSLO-Generiek voegde nog een property toe om aan te geven in wiens opdracht een record werd gewijzigd en door welke activiteit.
</p><p>
De entiteit Object mapt op <a href="https://www.w3.org/TR/rdf-schema/#ch_resource">Resource</a>, de superklasse van alle entiteiten in RDF. Elke entiteit in OSLO met een levensloop erft ervan over. Elk object heeft een identificator die zoals in de ISA Core vocabularia mapt op het datatype Identifier uit het <a href="https://www.w3.org/TR/vocab-adms/">W3C ADMS vocabularium</a>.
</p><p>
In OSLO-Generiek vinden we een entiteit Contactinfo, die net als in de ISA Core vocabularia mapt op ContactPoint <a href="http://schema.org/ContactPoint">in schema.org</a>. OSLO voegt termen toe zoals aanschrijfvorm en (contact)adres maar ook die werden geleend uit bestaande vocabularia.
</p><p>
Geografische Positie en Geografische Naam zijn entiteiten oorspronkelijk afkomstig uit OSLO-Adres, maar worden in OSLO-Generiek geplaatst omdat ze meer algemeen bruikbaar zijn (Geografische Positie eventueel met een andere codelijst). Geografische Positie is eigen aan OSLO-Generiek, Geografische Naam werd gemapt op een bestaande term in het RDF zelf.
</p><p>
Jurisdictie kon worden overgenomen uit het <a href="https://joinup.ec.europa.eu/node/42440">ISA Core Person Vocabulary</a> maar we voegden er een property aan toe die toelaat om te specifiëren op welk geografisch gebied de jurisdictie betrekking heeft.
</p><p>
Tenslotte vermelden we nog de entiteit Geometrie, deze verwijst naar de overeenstemmende term in ISA Core Location maar werd verder uitgebreid met de subklassen Punt, Lijnstring en Polygoon (termen uit het <a href="http://schemas.opengis.net/sf/1.0/simple_features_geometries.rdf">OGC Simple Features vocabularium</a>) om het type geometrie te kunnen specifiëren.
</p>
{% endblock %}
