{% extends "ap.j2" %}

{% block introduction %}
<p>Dit document beschrijft een <strong>applicatieprofiel</strong>, in dit geval <strong>{{ title }}</strong>.
Het applicatieprofiel is ontwikkeld binnen het project
<a href="https://overheid.vlaanderen.be/informatie-vlaanderen/producten-diensten/generiek-informatieplatform-openbaar-domein-gipod">GIPOD als Gelinkte
Open Data</a> en laat toe om innames, mobiliteitsmaatregelen en hinder op het openbaar domein gelinkt op te maken en te ontsluiten.
Het beantwoordt de vraag over hoe het corresponderende domeinmodel in de praktijk kan toegepast worden.
Daarbij worden de beperkingen (kardinaliteit, codelijsten) toegelicht en de overeenkomstige (RDF) termen opgelijst.
</p>
{% endblock %}


{% block license %}
<p>Deze specificatie van
<a href="https://vlaanderen.be/informatievlaanderen">
Informatie Vlaanderen</a> is gepubliceerd onder de
<a href="https://overheid.vlaanderen.be/sites/default/files/documenten/ict-egov/licenties/hergebruik/modellicentie_gratis_hergebruik_v1_0.html">
Modellicentie Gratis Hergebruik - v1.0</a>.</p>
{% endblock %}

{% block status %}
<p>
  Dit applicatieprofiel dient om het specifieke gebruik van de entiteiten relevant voor de beschreven applicatie te verduidelijken.
</p>
<p>
Dit document werd als ontwerpdocument gepubliceerd door de werkgroep semantiek en bevindt zich in een evaluatieperiode.
</p>                                                          
<p>Feedback op deze specificatie kan gegeven worden als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">publieke reviewdiscussielijst</a>.</p>   
{% endblock %}

{% block jsonld %}
<p>Een herbruikbare JSON-LD context definitie voor dit applicatieprofiel is terug te vinden op: <a href="https://test.data.vlaanderen.be/context/inname-openbaar-domein.jsonld" target="_blank">https://test.data.vlaanderen.be/context/inname-openbaar-domein.jsonld</a></p>
{% endblock %}


