{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
Het Logies vocabularium specificeert een aantal klassen en eigenschappen om een logies te beschrijven.
</p>
{% endblock %}

{% block status %}
<p>Een lijst van de recentste vocabularia is terug te vinden op <a href="https://data.vlaanderen.be/ns">https://data.vlaanderen.be/ns</a></p>
<p>Dit document werd gepubliceerd als Ontwerpdocument. Dit impliceert dat de standaard die in dit document beschreven wordt in ontwikkeling is. Bijgevolg kan dit document op elk moment aangepast, vervangen of achterhaald worden.
Dit document is bedoeld om uit te groeien tot een standaard in het beschreven domein.</p>
<p>Feedback op deze specificatie kan gegeven worden via als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">publieke reviewdiscussielijst</a>.</p>
{% endblock %}