{% extends "ap.j2" %}

{% block summary %}
                <p>Dit applicatieprofiel beschrijft een informatiemodel om (kern)informatie over logies uit te drukken. Het profiel is sterk geïnspireerd op de richtlijnen van schema.org ( "<a href="https://schema.org/docs/hotels.html">Markup for Hotels</a>", EN) en de aanbevelingen van de W3C community group <a href="https://www.w3.org/community/tourismdata/">"tourism data"</a> . Deze internationale richtlijnen zijn uitgebreid en vertaald naar de Vlaamse context, zodat er semantisch geïntegreerd kan worden met bestaande OSLO standaarden en basisregisters zoals het adressen - en organisatie register. Er werd ook rekening gehouden met het Toeristisch Vocabularium 0.9.</p>


                <p>Het profiel is gericht op toepassingen die logies informatie publiceren en willen annoteren zodat zoekmachines zoals Google de gestructureerde informatie oppikken. Semantisch publiceren of annoteren geeft een hogere zichtbaarheid van het logiesaanbod in zoekmachines d.m.v. Smart widgets. Smart Agents zoals Siri, Alexa, Google Assistent, enz zullen de machine leesbare kunnen interpreteren en antwoorden kunnen formuleren naar de toerist. Semantisch publiceren maakt het ook mogelijk dat data rechtstreeks vanuit de bron kan worden opgehaald door andere partijen en/of machines.  De uitwisseling van logiesdata tussen toepassingen van stakeholders kan goedkoper en efficiënter verlopen en de datakwaliteit zal verhogen doordat de gebruikers de data in de juiste context en betekenis gebruiken. Het profiel maakt linken of kruisverwijzingen naar andere data mogelijk wat een impliciete verrijking is van de data. Verrijkte data waaruit ook meer kennis kan worden gehaald.</p>

                <p>Het applicatieprofiel maakt het mogelijk dat het logiesregister van Toerisme Vlaanderen als linked open data worden gepubliceerd, deze basisdata zijn de kapstok om verdere verrijking door andere datasets mogelijk te maken.</p>
{% endblock %}

{% block status %}
<p>Dit applicatieprofiel dient om het specifieke gebruik van de entiteiten relevant voor de beschreven applicatie te verduidelijken.</p>
<p>Dit document werd gepubliceerd als Ontwerpdocument. Dit impliceert dat de standaard die in dit document beschreven wordt in ontwikkeling is. Bijgevolg kan dit document op elk moment aangepast, vervangen of achterhaald worden.
Dit document is bedoeld om uit te groeien tot een standaard in het beschreven domein.</p>
<p>Feedback op deze specificatie kan gegeven worden als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">publieke reviewdiscussielijst</a>.</p>
{% endblock %}

{% block conformance %}
<p>Een applicatieprofiel is een specificatie voor gegevensuitwisseling dat bijkomende beperkingen introduceert voor het toepassen van vocabularia.
Dergelijke bijkomende beperkingen kunnen de volgende elementen bevatten:</p>
<p>
<ul>
<li>verfijning van de terminologie (klassen en eigenschappen) consistent met de semantiek uit de betreffende specificaties met een welbepaald gebruik als doel;</li>
<li>externe terminologie (klassen en eigenschappen) gebruikt voor nieuwe/extra termen die niet in de bestaande vocabularia voorkomen.</li>
</ul>
</p>
<p>Om conform te zijn met dit applicatieprofiel, geldt voor een implementatie dat ze:</p>
<p>
<ul>
<li>MOET Voor elke klasse steeds de eigenschappen bevatten die als minimum kardinaliteit 1 hebben.</li>
<li>MAG NIET meer dan 1 instantie bevatten van eigenschappen die 1 als maximum kardinaliteit hebben.</li>
<li>MAG terminologie (klassen en eigenschappen) gebruiken op een manier die consistent is met haar semantiek (definitie, gebruik, domein en bereik).</li>
<li>MAG NIET terminologie van andere gecontroleerde vocabularia gebruiken dan diegene die gedefinieerd wordt in dit applicatieprofiel.</li>
<li>MAG uitgebreid worden met klassen en eigenschappen van andere datamodellen (vocabularia) die niet overlappen met terminologie uit dit applicatieprofiel.</li>
</ul>
</p>  
{% endblock %}

{% block jsonld %}
<p>Een herbruikbare JSON-LD context definitie voor dit applicatieprofiel is terug te vinden op: <a href="../../../context/logies-basis.jsonld" target="_blank">https://data.vlaanderen.be/context/logies-basis.jsonld</a></p>
{% endblock %}
