{% extends "besluit-voc.j2" %}

{% block summary %}
<p>Het vocabularium Mandaat is ontwikkeld binnen het project
<a href="http://lokaalbestuur.vlaanderen.be/lokale-besluiten-als-gelinkte-open-data">Lokale Besluiten als Gelinkte Open Data</a>.
Het Mandaat vocabularium specificeert een aantal klassen en eigenschappen om een mandaat te beschrijven.</p>
{% endblock %}
