{% extends "besluit-publicatie-ap.j2" %}

{% block introduction %}
<p>Dit document beschrijft een <strong>applicatieprofiel</strong>, in dit geval <strong>{{ title }}</strong>.
Het applicatieprofiel is ontwikkeld binnen het project
<a href="http://lokaalbestuur.vlaanderen.be/lokale-besluiten-als-gelinkte-open-data">Lokale Besluiten als Gelinkte
Open Data</a> en laat toe om een gelinkte mandatendatabank op te zetten op basis van gelinkte besluiten.
Het beantwoordt de vraag over hoe het corresponderende domeinmodel in de praktijk kan toegepast worden.
Daarbij worden de beperkingen (kardinaliteit, codelijsten) toegelicht en de overeenkomstige (RDF) termen opgelijst.
</p>
{% endblock %}

{% block summary %}
    <p>Het OSLO- Mandatendatabank applicatieprofiel is een profiel op bestaande vocabularia met betrekking tot het beschrijven van mandatarissen en hun mandaat. Het laat toe om een gelinkte mandatendatabank op te zetten op basis van gepubliceerde gelinkte besluiten.</p>

    <p>De Vlaamse regering wil dit applicatieprofiel verplicht maken via een Besluit van de Vlaamse Regering. Het applicatieprofiel omvat alle entiteiten en attributen die moeten ontsloten worden en laat toe een gelinkte mandatendatabank op te zetten.</p>

    <p>Het applicatieprofiel beschrijft mandatarissen en hun mandaten in verschillende bestuurseenheden en de bijbehorende bestuursorganen.</p>
{% endblock %}

