{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
Dit vocabularium werd ontwikkeld om informatie te beschrijven met betrekking tot meldingen van burgers of organisaties naar de overheid. Meldingen kunnen gaan om problemen vastgesteld in de fysieke wereld, zoals sluikstort of een put in de weg, of digitale problemen als fouten en onvolledigheden in digitale gegevensbronnen. Dit vocabularium hergebruikt termen en constructen uit onder meer de <a href="https://www.w3.org/TR/annotation-vocab/">Web Annotation Ontology</a> en <a href="https://www.w3.org/TR/activitystreams-vocabulary/">Activity Vocabulary</a> van <a href="https://www.w3.org/">W3C</a>. 
</p>

<p>Om de specificiteiten met betrekking tot meldingen over fouten of onvolledigheden in digitale gegevensbronnen te duiden wordt de term Terugmelding gehanteerd, een specialisatie van de generieke Melding die ook problemen vastgesteld in de fysieke wereld omvat. Zowel voor meldingen als terugmeldingen treden verschillende Agents op die een rol spelen in de afhandeling van de melding, zoals een melder, indiener, behandelaar... Verder zijn er eigenschappen om gestructureerd informatie over de melding mee te geven, waaronder bijlagen, statusinformatie, een typering voor de melding...
</p>
{% endblock %}

{% block status %}
<p>Een lijst van de recentste vocabularia is terug te vinden op <a href="http://data.vlaanderen.be/ns">http://data.vlaanderen.be/ns</a></p>
<p>Dit document werd gepubliceerd als Kandidaat-standaard. De specificatie zoals in dit document beschreven doorloopt momenteel een periode van publieke review, tijdens het welke geen wijzigingen aan deze specificatie worden doorgevoerd.<br/>
Dit document is bedoeld om uit te groeien tot een standaard in het beschreven domein. Desalniettemin heeft het op dit ogenblik geen officieel statuut en vertegenwoordigt het geen consensus binnen OSLO.</p>
<p>Feedback op deze specificatie kan gegeven worden via als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">publieke reviewdiscussielijst</a>.</p>
{% endblock %}

