{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>Het vocabularium Mobiliteit is ontwikkeld binnen de projecten
<a href="https://lokaalbestuur.vlaanderen.be/lokale-besluiten-als-gelinkte-open-data">Lokale Besluiten als Gelinkte Open Data</a> en <a href="https://overheid.vlaanderen.be/informatie-vlaanderen/producten-diensten/generiek-informatieplatform-openbaar-domein-gipod">GIPOD als Gelinkte Open Data</a>.
Het Mobiliteit vocabularium specificeert een aantal klassen en eigenschappen om de innames, hinder en maatregelen op het openbaar domein te beschrijven.</p>
{% endblock %}



{% block status %}

<p>Een lijst van de recentste vocabularia is terug te vinden op
<a href="https://data.vlaanderen.be/ns">https://data.vlaanderen.be/ns</a>.</p><br />

Dit document werd gepubliceerd als Ontwerpdocument. De specificatie zoals in dit document beschreven is in ontwikkeling. Bijgevolg kan dit document op elk moment aangepast, vervangen of achterhaald worden.
Dit document is bedoeld om uit te groeien tot een standaard in het beschreven domein. Desalniettemin heeft het op dit ogenblik geen officieel statuut en vertegenwoordigd het geen consensus binnen OSLO.

<p>Feedback op deze specificatie kan gegeven worden via de <a href="mailto:digitaalABB@bz.vlaanderen.be">mailing lijst</a>
of als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">
publieke reviewdiscussielijst</a>.</p>
{% endblock %}



{% block license %}
<p>Dit vocabularium gehost door <a href="https://vlaanderen.be/informatievlaanderen">
Informatie Vlaanderen</a> is uitgegeven onder de <a href="https://overheid.vlaanderen.be/sites/default/files/documenten/ict-egov/licenties/hergebruik/modellicentie_gratis_hergebruik_v1_0.html">
Modellicentie Gratis Hergebruik - v1.0</a>.</p>
{% endblock %}
