{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
Dit vocabularium is ontwikkeld in voor het beschrijven van notificaties in de context van de notificatiecomponent, een generieke bouwsteen van Informatie Vlaanderen.
</p>	
{% endblock %}

{% block status %}
<p>Een lijst van de recentste vocabularia is terug te vinden op <a href="http://data.vlaanderen.be/ns">http://data.vlaanderen.be/ns</a></p>
<p>Dit document werd gepubliceerd als Ontwerpdocument. De specificatie zoals in dit document beschreven is in ontwikkeling. Bijgevolg kan dit document op elk moment aangepast, vervangen of achterhaald worden.<br/>
Dit document is bedoeld om uit te groeien tot een standaard in het beschreven domein. Desalniettemin heeft het op dit ogenblik geen officieel statuut en vertegenwoordigd het geen consensus binnen OSLO.</p>
<p>Feedback op deze specificatie kan gegeven worden via als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">publieke reviewdiscussielijst</a>.</p>
{% endblock %}