{% extends "oj2.j2" %}

{% block summary %}
<p>Het applicatieprofiel begroeid voorkomen bevat een overzicht van alle objecten die men kan terugvinden in het applicatieprofiel als een platte lijst, een Taxonomie waar alle objecten gestructureerd zijn en het de gebruiker eenvoudiger moet maken om de gewenste objecten te vinden en tot slot een detail per object met een definitie en een overzicht van alle relevante attributen. Bij deze attributen wordt ook het verwacht datatype, de kardinaliteit en een beschrijving van het attribuut gegeven. Eventueel aangevuld met een codelijst met de mogelijke invulling van het attribuut.</p>
<p>
Het applicatieprofiel begroeid voorkomen is een uitbreiding op het generiek object FysiekVoorkomen. Het begroeid voorkomen omvat de vegetatieve elementen op het Openbaar Domein die niet als een solitair element worden geïnventariseerd, maar een geheel deel van het van het aardoppervlak omvat. Deze objectcatalogus is een uitbreiding naast de uitbreiding onbegroeid voorkomen dat het niet vegetatieve oppervlak omvat van een terreindeel en de objectcatalogus watervoorkomen dat de wateroppervlakken omvat.
</p>

{% endblock %}

{% block taxonomy %}
<script type="text/javascript" src="/cms/ap/objectcatalogus-begroeid-voorkomen/boom.js"></script>
{% endblock %}




{% block jsonld %}
<p>Een herbruikbare JSON-LD context definitie voor dit applicatieprofiel is terug te vinden op: <a href="../../../context/begroeid-voorkomen.jsonld" target="_blank">https://data.vlaanderen.be/context/begroeid-voorkomen.jsonld</a></p>
{% endblock %}
