{% extends "oj2.j2" %}

{% block summary %}
<p>De objectcatalogus infrastructuurelementen is een uitbreiding van het object Element en omvat de individuele objecten op het terrein die niet vegetatief zijn. Vele van deze objecten zijn terug te vinden of zijn afgeleid van objecten uit GRB-basis en GRB-skelet. De eventuele verwijzing naar GRB-basis en GRB-skelet is bij elk object gegeven onder de rubriek Gebruik (Entiteiten). De opgestelde taxonomie is een leidraad voor de gebruiker om op een meer gestructureerde manier de verscheidene infrastructuurelementen terug te vinden.</p>
{% endblock %}

{% block taxonomy %}
<script type="text/javascript" src="/cms/ap/objectcatalogus-infrastructuurelementen/boom.js"></script>
{% endblock %}

{% block jsonld %}
<p>Een herbruikbare JSON-LD context definitie voor dit applicatieprofiel is terug te vinden op: <a href="../../../context/objectcatalogus-infrastructuurelementen.jsonld" target="_blank">https://data.vlaanderen.be/context/objectcatalogus-infrastructuurelementen.jsonld</a></p>
{% endblock %}

