{% extends "oj2.j2" %}

{% block summary %}
<p>De Objectcatalogus gebieden bevat objecten die een ruimtelijke geheel aan Objecten in de openbare ruimte vormen. Dit geheel heeft een hoofdfunctie. De uitbreiding gebieden is in tegenstelling tot de meeste uitbreidingen geen afgeleide van het generieke object Object, maar is een op zichzelf staande instantie.</p>
{% endblock %}

{% block taxonomy %}
<script type="text/javascript" src="/cms/ap/objectcatalogus-gebieden/boom.js"></script>
{% endblock %}

{% block jsonld %}
<p>Een herbruikbare JSON-LD context definitie voor dit applicatieprofiel is terug te vinden op: <a href="../../../context/objectcatalogus-gebieden.jsonld" target="_blank">https://data.vlaanderen.be/context/objectcatalogus-gebieden.jsonld</a></p>
{% endblock %}