{% extends "oj2.j2" %}

{% block summary %}
<p>De objectcatalogus watervoorkomen beschrijft de fysieke aard van het oppervlak dat bestaat uit water. Naast de uitbreiding watervoorkomen zijn er ook nog de uitbreidingen onbegroeid voorkomen en begroeid voorkomen die ook afgeleid zijn van het generieke object FysiekVoorkomen.</p>
{% endblock %}

{% block taxonomy %}
<script type="text/javascript" src="/cms/ap/objectcatalogus-watervoorkomen/boom.js"></script>
{% endblock %}

{% block jsonld %}
<p>Een herbruikbare JSON-LD context definitie voor dit applicatieprofiel is terug te vinden op: <a href="../../../context/objectcatalogus-watervoorkomen.jsonld" target="_blank">https://data.vlaanderen.be/context/objectcatalogus-watervoorkomen.jsonld</a></p>
{% endblock %}