{% extends "oj2.j2" %}

{% block summary %}
<p>Het applicatieprofiel terreindeel is een uitbreiding van het generieke object Deel. De objecten onder Terreindeel omvatten de functie of het doel van het Deel. Dit is naast het FysiekVoorkomen (met uitbreidingen Begroeid voorkomen en Onbegroeid voorkomen) van een Deel, waar de fysieke eigenschappen van het aardoppervlak wordt gegeven. Het terreindeel bevat niet de Delen die bestaan uit een wateroppervlak, deze zijn vervat onder de uitbreiding waterdelen.</p>
{% endblock %}

{% block taxonomy %}
<script type="text/javascript" src="/cms/ap/objectcatalogus-terreindeel/boom.js"></script>
{% endblock %}

{% block jsonld %}
<p>Een herbruikbare JSON-LD context definitie voor dit applicatieprofiel is terug te vinden op: <a href="../../../context/terreindeel.jsonld" target="_blank">https://data.vlaanderen.be/context/terreindeel.jsonld</a></p>
{% endblock %}
