{% extends "oj2.j2" %}

{% block summary %}
<p>Het applicatieprofiel vegetatie-elementen is afgeleid van het generieke object Element en omvat de solitaire vegetatieve elementen op het terrein die al dan niet in volle grond staan. Deze Objectcatalogus staat enerzijds naast de Objectcatalogus begroeid voorkomen waar de vegetatieve elementen op het Openbaar Domein die niet als een solitair element worden geïnventariseerd. Anderzijds staat het naast de Objectcatalogus infrastructuurelementen die ook is afgeleid van het generieke object Element. Hier vindt men de niet-vegetatieve of infrastructurele solitaire elementen.</p>
{% endblock %}

{% block taxonomy %}
<script type="text/javascript" src="/cms/ap/objectcatalogus-vegetatie-elementen/boom.js"></script>
{% endblock %}

{% block jsonld %}
<p>Een herbruikbare JSON-LD context definitie voor dit applicatieprofiel is terug te vinden op: <a href="../../../context/vegetatie-elementen.jsonld" target="_blank">https://data.vlaanderen.be/context/vegetatie-elementen.jsonld</a></p>
{% endblock %}

