{% extends "oj2.j2" %}

{% block summary %}
<br/>
Het applicatieprofiel waterdeel is een uitbreiding van het generieke object Deel en omvat de verscheidene types wateroppervlakken op het openbaar domein. Dit kunnen waterlopen en watervlakken zijn. Dit is naast het Watervoorkomen dat een uitbreiding is van het generieke object FysiekVoorkomen waar de fysieke eigenschappen van het wateroppervlak wordt gegeven.
{% endblock %}

{% block taxonomy %}
<script type="text/javascript" src="/cms/ap/objectcatalogus-waterdeel/boom.js"></script>
{% endblock %}

{% block jsonld %}
<p>Een herbruikbare JSON-LD context definitie voor dit applicatieprofiel is terug te vinden op: <a href="../../../context/waterdeel.jsonld" target="_blank">https://data.vlaanderen.be/context/waterdeel.jsonld</a></p>
{% endblock %}
