{% extends "oj2.j2" %}

{% block summary %}
<br/>
Het applicatieprofiel begraafplaats is een voorbeeld van een uitbreiding op het Gegevensmodel Openbaar Domein. Verscheidene objecten gerelateerd aan begraafplaatsen zijn toegevoegd aan de bestaande objecten uit de verscheidene catalogi en zijn afgeleid van objecten uit het Conceptueel Gegevensmodel.
{% endblock %}

{% block taxonomy %}
<script type="text/javascript" src="/cms/ap/objectcatalogus-begraafplaats/boom.js"></script>
{% endblock %}

{% block jsonld %}
<p>Een herbruikbare JSON-LD context definitie voor dit applicatieprofiel is terug te vinden op: <a href="../../../context/begraafplaats.jsonld" target="_blank">https://data.vlaanderen.be/context/begraafplaats.jsonld</a></p>
{% endblock %}
