{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>{{ record['metadata_nl']['title'] }} definieert een aantal thematische entiteiten en eigenschappen als aanvulling op het <a href="/cms/openbaardomein/">conceptueel gegevensmodel Openbaar Domein</a>.</p>
{% endblock %}

{% block status %}<p>Een lijst van de recentste vocabularia is terug te vinden op
<a href="https://data.vlaanderen.be/ns">https://data.vlaanderen.be/ns</a>.</p><br />

<p>Dit document is de specificatie van een vocabularium en biedt een gedeeld begrippenkader voor bepaalde concepten.</p>
<p>Op 04/10/2018 werd dit document als Standaard gepubliceerd door de werkgroep Datastandaarden OSLO van het stuurorgaan Vlaams Informatie- en ICT-beleid. Deze standaard heeft het statuut van ‘vrijwillig toe te passen’.</p>

<p>Feedback op deze specificatie kan gegeven worden als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">publieke reviewdiscussielijst</a>.</p>
{% endblock %}