{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>{{ record['metadata_nl']['title'] }} definieert een aantal thematische entiteiten en eigenschappen als aanvulling op het <a href="/doc/openbaardomein/">conceptueel gegensmodel Openbaar Domein</a>.</p>
{% endblock %}
