{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
OSLO-Organisatie voegt termen toe aan drie bestaande vocabularia waarmee organisaties worden beschreven.
</p><p>
Het eerste vocabularium is <a href="https://www.w3.org/TR/vocab-org/#org:Organization">W3C Organization Ontology</a>, op zijn beurt al een uitbreiding van <a href="http://xmlns.com/foaf/spec/#term_Organization">Organization van FOAF</a>. Het voegt entiteiten als Organisatie-eenheid, Formele Organisatie en Samenwerkingsverband toe. Ook vestigingen kunnen worden beschreven en er is aandacht voor gebeurtenissen zoals fusies van organisaties. W3C werkte ook de term Lidmaatschap van FOAF verder uit en er werd een entiteit Positie voorzien om de functie die een persoon uitoefent binnen een organisatie te kunnen beschrijven.
</p><p>
Een verdere specialisatie van Formele Organisatie tot Geregistreerde Organisatie is gebaseerd op het <a href="https://www.w3.org/TR/vocab-regorg/">W3C Registered Organization Vocabulary</a>. Dit voegt termen toe om officieel geregistreerde organisaties te beschrijven bv. door middel van hun registratienummer en wettelijke naam.
</p><p>
Tenslotte werd nog het <a href="https://joinup.ec.europa.eu/asset/cpov/home">ISA Core Public Organisation vocabularium</a> bekeken. Dit vocabularium is van belang voor het <a href="https://joinup.ec.europa.eu/asset/core_public_service/description">ISA Core Public Service vocabularium</a> omdat publieke dienstverlening gedefinieerd wordt door de publieke organisatie die verantwoordelijk is voor het inrichten ervan. Sommige kenmerken van publieke organisaties in dit vocabularium werden door ISA opgetild naar het organisatieniveau (bv. voorkeursnaam, doel, classificatie).
</p><p>
Wat voegt OSLO-Organisatie toe aan deze drie vocabularia?.
</p><p>
Subklassen zijn voorzien om de veranderingen die organisaties ondergaan tijdens hun levensloop nader te specifiëren m.n. oprichting,  fusie, splitsing, stopzetting en vervanging. Oprichting werd al voorzien door ISA Core Public Organisation om een organisatie te kunnen aanduiden als publiek op basis van het wettelijk kader waarin het werd opgericht.
</p><p>
OSLO-Organisatie voegt ook de entiteit Hoedanigheid toe. Dit is een functie binnen een organisatie uitgeoefend door een persoon die bv. een bepaalde publieke dienstverlening realiseert (bv. diversiteitsambtenaar x bij organisatie y realiseert een diversiteitsplan z). Hoedanigheid is met andere woorden zowel een Positie als een Agent en is dan ook een subklasse van beide entiteiten.
</p><p>
Nog een aanvulling heeft betrekking op de entiteit Vestiging. OSLO-Organisatie biedt nl. de mogelijkheid om te beschrijven uit welke terreinobjecten met een adres (adresseerbare objecten) de vestiging van een organisatie bestaat. Dit is van belang voor officieel geregistreerde organisaties waarbij het officieel adres van de vestigingen bijgehouden wordt en niet louter een contactadres.
</p>
{% endblock %}

{% block status %}<p>Een lijst van de recentste vocabularia is terug te vinden op
<a href="http://data.vlaanderen.be/ns">http://data.vlaanderen.be/ns</a>.</p><br />

<p>Dit document is de specificatie van een vocabularium en biedt een gedeeld begrippenkader voor bepaalde concepten.</p>
<p>Op 04/10/2018 werd dit document als Standaard gepubliceerd door de werkgroep Datastandaarden OSLO, bekrachtigd door het stuurorgaan Vlaams Informatie- en ICT-beleid op 03/07/2018.
Deze standaard heeft het statuut van ‘vrijwillig toe te passen’.</p>

<p>Feedback op deze specificatie kan gegeven worden als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">publieke reviewdiscussielijst</a>.</p>
{% endblock %}