{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
OSLO-Organisation adds terms to the three existing vocabularies through which an organisation  is described.
</p><p>
The first vocabulary is <a href="https://www.w3.org/TR/vocab-org/#org:Organization">W3C Organization Ontology</a>, which in itself is already an expansion of <a href="http://xmlns.com/foaf/spec/#term_Organization">Organisation of FOAF</a>. It adds entities such as Organisational Unit, Formal Organisation and Organisation Collaboration. Additionally, (organisation) branches can be described and attention is paid to events such as merger of organisations. W3C also elaborates on the term Membership of FOAF and an entity Position was provided to describe the function of a person within an organisation.
</p><p>
A further specialisation from Formal Organisation to Registered Organisation is based on the <a href="https://www.w3.org/TR/vocab-regorg/">W3C Registered Organization Vocabulary</a>. This pools several terms to describe officially registered organisations through for example the registration number and legal name.
</p><p>
Finally, the <a href="https://joinup.ec.europa.eu/asset/cpov/home">ISA Core Public Organisation vocabularium</a> was looked at. This vocabulary is of relevance for the <a href="https://joinup.ec.europa.eu/asset/core_public_service/description">ISA Core Public Service vocabularium</a> because a public service is defined by the public organisation that is responsible for the supply of the service. Some characteristics of public organisations in this vocabulary were lifted to the organisation level by ISA (e.g. preferred name, aim, classification).
</p><p>
What does OSLO-Organisation add to these three vocabularies?
</p><p>
Subclasses are foreseen to specify changes that organisations go through during their lifecycle, notably foundation, merger, splits, cessation and replacement. Foundation was already foreseen by ISA Core Public Organisation in order to indicate an organisation as public organisation on the basis of the legal framework in which it was founded.
</p><p>
OSLO-Organisation also adds the entity 'in capacity of'. This is a function within an organisation that is exercised by a person that for example realises a public service (e.g. diversity officer X in organisation Y realises a diversityplan Z). In other words Capacity is both a Position as wel as an Agent and therefore is a subclass of both entities.
</p><p>
An additional supplement relates to the entity Branch. OSLO-Organisation provides namely the possibility to describe from which terrain objects with an address (addressable objects) the branch of an organisation exists. This is important for officially registered organisations where the official address of the branch is kept and not merely a contact address.
</p>
{% endblock %}