{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
Het project Slimme Subsidies wil de subsidieprocessen binnen de Vlaamse overheid stroomlijnen en zorgen voor een efficiënt georganiseerde backoffice voor subsidieverstrekkers. Dat moet gegevensuitwisseling tussen de verschillende diensten onderling mogelijk maken.
Dit vocabularium is een uitbreiding op het <a href="http://data.vlaanderen.be/ns/dienst">OSLO-Dienst vocabularium</a>. Het definieert extra klassen en attributen voor het beschrijven van subsidiemaatregelen.
</p>	
{% endblock %}

{% block status %}
<p>Een lijst van de recentste vocabularia is terug te vinden op <a href="http://data.vlaanderen.be/ns">http://data.vlaanderen.be/ns</a></p>
<p>Dit document werd gepubliceerd als Ontwerpdocument. De specificatie zoals in dit document beschreven is in ontwikkeling. Bijgevolg kan dit document op elk moment aangepast, vervangen of achterhaald worden.<br/>
Dit document is bedoeld om uit te groeien tot een standaard in het beschreven domein. Desalniettemin heeft het op dit ogenblik geen officieel statuut en vertegenwoordigd het geen consensus binnen OSLO.</p>
<p>Feedback op deze specificatie kan gegeven worden via als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">publieke reviewdiscussielijst</a>.</p>
{% endblock %}