{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
Dit vocabularium werd ontwikkeld om informatie te beschrijven over toestemmingen (consent) die gevraagd worden door Publieke Organisaties om bepaalde verwerkingsactiviteiten te stellen met persoonsgegevens van burgers en ondernemers. Naast een definitie van de verwerkingsactiviteiten waar toestemming voor gevraagd wordt en relevante relaties met andere organisaties die de gegevens zullen verwerken of extra informatie in de vorm van een privacy- of cookieverklaring bevat dit vocabularium ook een entiteit 'Toestemming' waarmee een specifieke toestemming van een Agent voor een bepaalde verwerkingsactiviteit kan gecapteerd worden.
</p>

<p>
De toepassing van dit vocabularium garandeert geen conformiteit met de <a href="http://data.europa.eu/eli/reg/2016/679/oj">Algemene Verordening Gegevensbescherming (GDPR)</a> maar biedt hergebruikers een instrument om de relevante entiteiten en relaties die nodig zijn in de context van een correcte verwerking van persoonsgegevens op een gestructureerde manier te beschrijven.
</p>
{% endblock %}

{% block status %}
<p>Een lijst van de recentste vocabularia is terug te vinden op <a href="http://data.vlaanderen.be/ns">http://data.vlaanderen.be/ns</a></p>
<p>Dit document werd gepubliceerd als Kandidaat-standaard. De specificatie zoals in dit document beschreven doorloopt momenteel een periode van publieke review, tijdens het welke geen wijzigingen aan deze specificatie worden doorgevoerd.<br/>
Dit document is bedoeld om uit te groeien tot een standaard in het beschreven domein. Desalniettemin heeft het op dit ogenblik geen officieel statuut en vertegenwoordigt het geen consensus binnen OSLO.</p>
<p>Feedback op deze specificatie kan gegeven worden via als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">publieke reviewdiscussielijst</a>.</p>
{% endblock %}