{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
Dit vocabularium is ontwikkeld in voor het beschrijven van toestemming (consent) in de context van de notificatiecomponent en contactvoorkeurenmodule, generieke bouwstenen van Informatie Vlaanderen.
</p>	
{% endblock %}