<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xml:lang="nl" lang="nl" dir="ltr" typeof="bibo:Document " about="" property="dcterms:language" content="nl" prefix="dcterms: http://purl.org/dc/terms/ bibo: http://purl.org/ontology/bibo/ schema: http://schema.org/ w3p: http://www.w3.org/2001/02pd/rec54#" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ record['metadata_nl']['title'] }}</title>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://dij151upo6vad.cloudfront.net/2.latest/css/vlaanderen-ui.css" />
    <link rel="stylesheet" href="https://dij151upo6vad.cloudfront.net/2.latest/css/vlaanderen-ui-corporate.css" />
    <link rel="stylesheet" href="https://dev.w3.org/2009/dap/ReSpec.js/css/respec.css" />

    <link rel="icon" sizes="192x192" href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/icon-highres-precomposed.png" />
    <link rel="apple-touch-icon" href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/touch-icon-iphone-precomposed.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/touch-icon-ipad-precomposed.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/touch-icon-iphone-retina-precomposed.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/touch-icon-ipad-retina-precomposed.png" />

    <meta name="msapplication-square70x70logo" content="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/tile-small.png" />
    <meta name="msapplication-square150x150logo" content="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/tile-medium.png" />
    <meta name="msapplication-wide310x150logo" content="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/tile-wide.png" />
    <meta name="msapplication-square310x310logo" content="https://dij151upo6vad.cloudfront.net/2.latest/icons/app-icon/tile-large.png" />
    <meta name="msapplication-TileColor" content="#FFE615" />

    <!--[if lt IE 9]><script src='https://www.w3.org/2008/site/js/html5shiv.js'></script><![endif]-->
  </head>
  <body class="h-entry" role="document" id="respecDocument">
    <div style="min-height:44px;;" id="vlaanderen-header">
    <!-- insert your global header here -->
    <script type="text/javascript" src="https://widgets.vlaanderen.be/widget/live/5ecf33a0a922428cb9d944c55362ed15"></script>
    <!-- end global header-->
    </div>
    <div class="page">
        <div class="layout layout--wide">
            <div class="grid u-hr">
                <div class="col--9-12 col--1-1--s">
                    <div class="head" role="contentinfo" id="respecHeader">
                    <h1 class="h1 title p-name"  property="dcterms:title" id="title">{{ record['metadata_nl']['title'] }}</h1>
                    {% if record['metadata']['prefix'] %}
                    <h2 class="h2" id="subtitle" property="bibo:subtitle">Specificatie van <em>{{ record['metadata']['prefix'] }}</em></h2>
                    {% endif %}
                    {% if record['metadata']['issued'] %}
                    <h2 class="h2" content="{{ record['metadata']['issued'] }}" datatype="xsd:dateTime" property="dcterms:issued" id="draft-{{ record['metadata']['issued'] }}">Uitgegeven op <time datetime="{{ record['metadata']['issued'] }}" class="dt-published">{{ record['metadata']['issued'] }}</time></h2>
                    {% endif %}
                    <dl>
                        {% if record['metadata']['modified'] %}
                        <dt>Laatste aanpassing</dt>

                        <dd>{{ record['metadata']['modified'] }}
                        </dd>
                        {% endif %}

                        <dt>Laatste versie</dt>

                        <dd><a href="{{ record['metadata']['uri'] }}">{{ record['metadata']['uri'] }}</a>
                        </dd>

						{% set authors = contributors|selectattr("role", "equalto", "A")|sort(attribute='last_name') %}
                        {% if authors %}
                        <dt>Auteurs</dt>
                        {% for author in authors %}
                        <dd inlist="" rel="foaf:maker" class="p-author h-card vcard">
                            <span typeof="foaf:Person">
                            <span class="p-name fn" property="foaf:lastName">{{ author['last_name'] }}</span>,
                            <span class="p-name fn" property="foaf:firstName">{{ author['first_name'] }}</span>
                            {% if author['affiliation_website'] and author['affiliation_name'] %}
                            - <a href="{{ author['affiliation_website'] }}" class="p-org org h-org h-card" rel="foaf:workplaceHomepage">{{ author['affiliation_name'] }}</a>
                            {% elif author['affiliation_name'] %}
                            - <span class="p-org org h-org h-card">{{ author['affiliation_name'] }}</span>
                            {% endif %}
							{% if author['email'] %}
                             - <span class="ed_mailto"><a href="mailto:{{ author['email'] }}" rel="foaf:mbox" class="u-email email">{{ author['email'] }}</a></span>
                            {% endif %}
                            </span>
                        </dd>
                        {% endfor %}
                        {% endif %}

						{% set editors = contributors|selectattr("role", "equalto", "E")|sort(attribute='last_name') %}
                        {% if editors %}
                        <dt>Editors</dt>
                        {% for editor in editors %}
                        <dd inlist="" rel="bibo:editor" class="p-author h-card vcard">
                            <span typeof="foaf:Person">
                            <span class="p-name fn" property="foaf:lastName">{{ editor['last_name'] }}</span>,
                            <span class="p-name fn" property="foaf:firstName">{{ editor['first_name'] }}</span>
                            {% if editor['affiliation_website'] and editor['affiliation_name'] %}
                            - <a href="{{ editor['affiliation_website'] }}" class="p-org org h-org h-card" rel="foaf:workplaceHomepage">{{ editor['affiliation_name'] }}</a>
                            {% elif editor['affiliation_name'] %}
                            - <span class="p-org org h-org h-card">{{ editor['affiliation_name'] }}</span>
                            {% endif %}
							{% if editor['email'] %}
                             - <span class="ed_mailto"><a href="mailto:{{ editor['email'] }}" rel="foaf:mbox" class="u-email email">{{ editor['email'] }}</a></span>
                            {% endif %}
							</span>
                        </dd>
                        {% endfor %}
                        {% endif %}

						{% set pure_contributors = contributors|selectattr("role", "equalto", "C")|sort(attribute='last_name') %}
                        {% if pure_contributors %}
                        <dt>Medewerkers</dt>
                        {% for contributor in pure_contributors %}
                        <dd inlist="" rel="dcterms:contributor" class="p-author h-card vcard">
                            <span typeof="foaf:Person">
                            <span class="p-name fn" property="foaf:lastName">{{ contributor['last_name'] }}</span>,
                            <span class="p-name fn" property="foaf:firstName">{{ contributor['first_name'] }}</span>
                            {% if contributor['affiliation_website'] and contributor['affiliation_name'] %}
                            - <a href="{{ contributor['affiliation_website'] }}" class="p-org org h-org h-card" rel="foaf:workplaceHomepage">{{ contributor['affiliation_name'] }}</a>
                            {% elif contributor['affiliation_name'] %}
                            - <span class="p-org org h-org h-card">{{ contributor['affiliation_name'] }}</span>
                            {% endif %}
							{% if contributor['email'] %}
                             - <span class="ed_mailto"><a href="mailto:{{ contributor['email'] }}" rel="foaf:mbox" class="u-email email">{{ contributor['email'] }}</a></span>
                            {% endif %}
							</span>
                        </dd>
                        {% endfor %}
                        {% endif %}
                    </dl>

                    <p class="copyright">{{ record['metadata']['rights'] }}</p>


                    </div>
                </div>
             </div>
        </div>
    </div>

    <div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="main-content">
        <div class="region region--no-space-top">
            <div class="layout layout--wide">
                <div class="grid">
                    <div class="col--8-12 col--12-12--s">
                        <div class="region region">
                            <section id="abstract" class="introductory" property="dcterms:abstract" datatype="" typeof="bibo:Chapter" resource="#ref" rel="bibo:Chapter">
                                <h2 class="h2" aria-level="1" role="heading" id="h2_abstract">Samenvatting</h2>
                                <div class="region region--no-space-top typography" id="summary"> 
				{% block summary %}
                                <p>
                                Het {{ record['metadata_nl']['title'] }} vocabularium specificeert een aantal klassen en eigenschappen om een {{ record['metadata_nl']['title'].lower() }} te beschrijven.
                                </p>
                                <p>
                                {{ record['metadata_nl']['abstract'] }}
                                </p>
                                {% endblock %}
				</div>
                            </section>
                        </div>

                        <div class="region region--no-space-top">
                            <section class="introductory" id="sotd" typeof="bibo:Chapter" resource="#ref" rel="bibo:Chapter">
                                <h2 class="h2" aria-level="1" role="heading" id="h2_sotd">Status van dit document</h2>
                                <div class="region region--no-space-top typography" id="status"> 
				{% block status %}
                                <p><em>Deze sectie beschrijft de status van dit document op het moment van publicatie. Het kan zijn dat er ondertussen al nieuwere versies zijn uitgebracht.</em></p><br/>
                                <p>Een lijst van de recentste vocabularia is terug te vinden op <a href="http://data.vlaanderen.be/ns">http://data.vlaanderen.be/ns</a></p><br/>
                                <p>Dit document is een offici&#235;le specificatie van een vocabularium en biedt een gedeeld begrippenkader voor bepaalde concepten. Deze specificatie dient om de definitie, gebruik, domein en bereik van de RDF termen binnen dit domein te verduidelijken. De termen gedefinieerd in dit vocabularium zijn persistent en zullen bijgevolg nooit verdwijnen, noch zullen de definities veranderen behalve dan om een bestaande definitie verder te verduidelijken. Termen kunnen echter wel als verouderd worden bestempeld en vervangen worden in nieuwere versies van deze specificatie.</p>
                                {% if record['metadata_nl']['comment'] %}
                                <p>
                                {{ record['metadata_nl']['comment'] }}
                                </p>
                                {% endif %}
                                {% if record['metadata']['mname'] %}
                                <p>Feedback op deze specificatie kan gegeven worden via de <a href="{{ record['metadata']['mmbox'] }}">mailing lijst</a> of als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">publieke reviewdiscussielijst</a>.</p>
                                {% endif %}
                                {% endblock %}
				</div>
                            </section>
                        </div>

                        <div class="region region--no-space-top">
                            <section typeof="bibo:Chapter" resource="#ref" rel="bibo:Chapter" id="license-and-liability">
                                <h2 class="h2" id="licenseandliability" aria-level="1" role="heading"><span class="secno">1. </span>Licentie</h2>
                                {% block license %}
                                <p><span rel="dct:type" property="dct:title" href="http://purl.org/dc/dcmitype/Text" xmlns:dct="http://purl.org/dc/terms/">Dit vocabularium</span> gehost door <a rel="cc:attributionURL" property="cc:attributionName" href="http://vlaanderen.be/informatievlaanderen" xmlns:cc="http://creativecommons.org/ns#">Informatie Vlaanderen</a> is uitgegeven onder de <a href="https://overheid.vlaanderen.be/sites/default/files/documenten/ict-egov/licenties/hergebruik/modellicentie_gratis_hergebruik_v1_0.html" rel="license">"Modellicentie Gratis Hergebruik - v1.0"</a>.<br /></p>
                                {% endblock %}
                            </section>
                        </div>

                        <div class="region region--no-space-top">
                            <section typeof="bibo:Chapter" resource="#ref" rel="bibo:Chapter" id="conformance-statement">
                                <h2 class="h2" id="conformance" aria-level="1" role="heading"><span class="secno">2. </span>Conformiteit</h2>
                                {% block conformance %}
                                <p>Een uitwisseling van gegevens, op welke manier deze uitwisseling ook gebeurt, is conform aan dit vocabularium wanneer het de terminologie (klassen en eigenschappen) gebruikt op een manier die consistent is met de semantiek zoals opgesteld in de nieuwste versie van de specificatie (domein, bereik, definitie en gebruik) en het geen terminologie gebruikt uit andere vocabularia als alternatief voor de voorgestelde terminologie opgenomen in dit vocabularium.</p>
                                {% endblock %}
                            </section>
                        </div>

                        <div class="region region--no-space-top">
                            <section typeof="bibo:Chapter" resource="#ref" rel="bibo:Chapter" id="overview">

                                <h2 class="h2" id="overview" aria-level="1" role="heading"><span class="secno">3. </span>Overzicht</h2>

                                <div class="region region--no-space-top">
                                    <p>Deze sectie somt alle klassen en eigenschappen van het vocabularium op.</p>
                                    <p>
                                    {% if record['parents'] %}
                                    Dit vocabularium verwijst verder naar termen uit de volgende vocabularia:
                                    {% set termen = record['parents']['list'].split(',') %}
                                    <ul>
                                    {% for term in termen %}
                                        <li><a href="{{ term }}">{{ term }}</a></li>
                                    {% endfor %}
                                    </ul>
                                    {% endif %}
                                    </p>
                                    <br />
                                    <p><a href="http://visualdataweb.de/webvowl/#iri={{ record['metadata']['uri'] }}.ttl">Verken het vocabularium</a></p>
                                </div>

                                {% if record['glance']['classes_nl'] %}
                                <div class="region region--no-space-top">
                                    <h3 class="h3" >Klassen</h3>
                                    {% set classes = record['glance']['classes_nl'].split(",") %}
                                    {% set class_uris = record['glance']['class_uris_nl'].split(",") %}
                                    <div class="grid">
                                        <p>
                                            |
                                            {% for class in classes %}
                                            <a href="{{ class_uris[loop.index - 1]  | replace(record['metadata']['uri'], '') }}" rel="class">{{ class }}</a> |
                                            {% endfor %}
                                        </p>
                                    </div>
                                </div>
                                {% endif %}

                                {% if record['glance']['properties_nl'] %}
                                <div class="region region--no-space-top">
                                    <h3 class="h3" >Eigenschappen</h3>
                                    {% set props = record['glance']['properties_nl'].split(",") %}
                                    {% set prop_uris = record['glance']['prop_uris_nl'].split(",") %}
                                    <div class="grid">
                                        <p>
                                            |
                                            {% for prop in props %}
                                            <a href="{{ prop_uris[loop.index - 1]  | replace(record['metadata']['uri'], '')}}" rel="property">{{ prop }}</a> |
                                            {% endfor %}
                                        </p>
                                    </div>
                                </div>
                                {% endif %}
                            </section>
                        </div>

                        <div class="region region--no-space-top">
                            <section typeof="bibo:Chapter" resource="#ref" rel="bibo:Chapter" id="classes">

                                <h2 class="h2" id="classes" aria-level="1" role="heading"><span class="secno">4. </span>Klassen</h2>
                                {% if record['glance']['class_uris_nl'] %}
                                <div class="region region--no-space-top">
                                    <p>Deze sectie geeft een formele definitie aan elke klasse.</p>
                                </div>
                                {% set class_uris = record['glance']['class_uris_nl'].split(",") %}
                                {% for class_uri in class_uris %}
                                {% set klasse = record['class_nl:'+class_uri] %}
                                <div class="region region--no-space-top">
                                    <h3 class="h3"  id="{{ class_uri | replace(record['metadata']['uri'] + '#', '') }}">Klasse <em>{{ klasse['label'] }}</em></h3>
                                    <table class="definition">
                                        <tbody>
                                          <tr>
                                            <th>Type</th>
                                            <td>Klasse</td>
                                          </tr>
                                          {% if klasse['identifier'] %}
                                          <tr>
                                            <th>Naam</th>
                                            <td><code>{{ klasse['identifier'] }}</code></td>
                                          </tr>
                                          {% endif %}
                                          <tr>
                                            <th>URI</th>
                                            <td><code>{{ class_uri }}</code></td>
                                          </tr>
                                          {% if klasse['parents'] %}
										  <tr>
                                            <th>Specialisatie van</th>
											<td><ul>
											{% set parents = klasse['parents'].split(",")|sort %}
											{% for parent in parents %}
                                              <li><code>{{ parent }}</code></li>
											{% endfor %}
                                            </ul></td>
										  </tr>
                                          {% endif %}
                                          <tr>
                                            <th>Definitie</th>
                                            <td>{{ klasse['comment'] }}</td>
                                          </tr>
                                          {% if klasse['usagenote'] %}
                                          <tr>
                                            <th>
                                              <p>Gebruik</p>
                                            </th>
                                            <td>{{ klasse['usagenote'] }}</td>
                                          </tr>
                                          {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div class="region region--no-space-top">
                                    <p>In dit vocabularium zijn geen klassen gedefinieerd. Het is wel mogelijk dat klassen uit een gerelateerd vocabularium worden hergebruikt.</p>
                                </div>
                                {% endif %}
                            </section>
                        </div>


                        <div class="region region--no-space-top">
                            <section typeof="bibo:Chapter" resource="#ref" rel="bibo:Chapter" id="properties">

                                <h2 class="h2" id="properties" aria-level="1" role="heading"><span class="secno">5. </span>Eigenschappen</h2>

                                {% if record['glance']['prop_uris_nl'] %}
                                <div class="region region--no-space-top">
                                    <p>Deze sectie geeft een formele definitie aan elke eigenschap.</p>
                                </div>

                                {% set prop_uris = record['glance']['prop_uris_nl'].split(",") %}
                                {% for prop_uri in prop_uris %}
                                {% set eigenschap = record['property_nl:'+prop_uri] %}
                                <div class="region region--no-space-top">
                                    <h3 class="h3"  id="{{ prop_uri | replace(record['metadata']['uri'] + '#', '') }}">Eigenschap <em>{{  eigenschap['label'] }}</em></h3>
                                    <table class="definition">
                                        <tbody>
                                          <tr>
                                            <th>Type</th>
                                            <td>Eigenschap</td>
                                          </tr>
                                          {% if eigenschap['identifier'] %}
                                          <tr>
                                            <th>Naam</th>
                                            <td><code>{{ eigenschap['identifier'] }}</code></td>
                                          </tr>
                                          {% endif %}
                                          <tr>
                                            <th>URI</th>
                                            <td><code>{{ prop_uri }}</code></td>
                                          </tr>
                                          {% if eigenschap['domain'] %}
                                          <tr>
                                            <th>Domein</th>
                                            <td><code>{{ eigenschap['domain'] }}</code></td>
                                          </tr>
                                          {% endif %}
                                          {% if eigenschap['range'] %}
                                          <tr>
                                            <th>Bereik</th>
                                            <td><code>{{ eigenschap['range'] }}</code></td>
                                          </tr>
                                          {% endif %}
                                          {% if eigenschap['parents'] %}
										  <tr>
                                            <th>Specialisatie van</th>
											<td><ul>
											{% set parents = eigenschap['parents'].split(",")|sort %}
											{% for parent in parents %}
                                              <li><code>{{ parent }}</code></li>
											{% endfor %}
                                            </ul></td>
										  </tr>
                                          {% endif %}
                                          <tr>
                                            <th>Definitie</th>
                                            <td>{{ eigenschap['comment'] }}</td>
                                          </tr>
                                          {% if eigenschap['usagenote'] %}
                                          <tr>
                                            <th>Gebruik</th>
                                            <td>{{ eigenschap['usagenote'] }}</td>
                                          </tr>
                                          {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div class="region region--no-space-top">
                                    <p>In dit vocabularium zijn geen eigenschappen gedefinieerd. Het is wel mogelijk dat eigenschappen uit een gerelateerd vocabularium worden hergebruikt.</p>
                                </div>
                                {% endif %}
                            </section>
                        </div>
                        <div class="region region--no-space-top">
                            <section typeof="bibo:Chapter" resource="#ref" rel="bibo:Chapter" id="external">

                                <h2 class="h2" id="externals" aria-level="1" role="heading"><span class="secno">6. </span>Externe terminologie</h2>

                        
                                <div class="region region--no-space-top">
                                    <p>Deze sectie geeft een overzicht van terminologie uit andere vocabularia die relevant is voor dit domeinmodel samen met hun Nederlandstalige labels en definities.</p>
                                </div>

                                {% if record['glance']['ext_uris'] %}
                                {% set ext_uris = record['glance']['ext_uris'].split(",") %}
                                {% set externals = record['glance']['externals'].split(",") %}
                                {% for ext_uri in ext_uris %}
                                <div class="region region--no-space-top">
                                    <h3 class="h4" id="#statuswijzigingObject"><em>{{ externals[loop.index - 1] }}</em></h3>
                                    <table class="definition">
                                        <tbody>
                                          
                                          <tr>
                                            <th>URI</th>
                                            <td><code>{{ ext_uri }}</code></td>
                                          </tr>
                                          
                                        </tbody>
                                    </table>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div class="region region--no-space-top">
                                    <p>In dit vocabularium zijn geen externe termen hergebruikt.</p>
                                </div>
                                {% endif %}

                            </section>
                        </div>
                    </div>
                    <div class="col--3-12 col--12-12--s col--4-12--m push--1-12 push--reset--m" id="sideNav">
                        <nav class="side-navigation js-sticky" id="sideNav">
                            <div class="side-navigation__content js-scrollspy">
                                <div class="side-navigation__group">
                                    <ul>
                                        <li class="side-navigation__item">
                                            <a href="#abstract">Samenvatting</a>
                                        </li>                                        
                                        <li class="side-navigation__item">
                                            <a href="#sotd">Status van dit document</a>
                                        </li>                                        
                                        <li class="side-navigation__item">
                                            <a href="#license-and-liability">1. Licentie</a>
                                        </li>                                       
                                        <li class="side-navigation__item">
                                            <a href="#conformance-statement">2. Conformiteit</a>
                                        </li>                                       
                                        <li class="side-navigation__item">
                                            <a href="#overview">3. Overzicht</a>
                                        </li>                                    
                                        <li class="side-navigation__item">
                                            <a href="#classes">4. Klassen</a>
                                        </li>                                    
                                        <li class="side-navigation__item">
                                            <a href="#properties">5. Eigenschappen</a>
                                        </li>                                  
                                        <li class="side-navigation__item side-navigation__item--parent">
                                            <a href="#external" data-child="external">6. Externe terminologie</a>                                       
                                        </li>
                                    </ul>
                                </div>                                
                            </div>
                        </nav>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <div id="vlaanderen-footer">
        <!-- insert your Vlaanderen-footer-code here -->
        <script type="text/javascript" src="https://widgets.vlaanderen.be/widget/live/d6d44414e7c242f396ab6da8f8da5198"></script>
        <!-- End global footer-->
    </div>

    <script src="https://dij151upo6vad.cloudfront.net/2.latest/js/vlaanderen-ui.js"></script>

    <style>
      @media screen {  /* hide from IE3 */
        a[href]:hover { background: #ffa }
      }

      table {
            font-size:12px;
            color:#333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
            margin-top: 2em;
            width: 100%;
      }

      table th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
            width: 110px;
      }

      table td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
      }

      table tr:first-child {
          font-weight:bold;
      }

      tr:nth-child(even) td     { background-color:#eee; }

      dt, dd { margin-top: 0; margin-bottom: 0 } /* opera 3.50 */
      dt { font-weight: bold }

      pre, code { font-family: monospace } /* navigator 4 requires this */
	  code { color: black }

      em {
            font-style: italic;
      }

      img {
         width: 100%;
      }
      img.cc {
         width: 88px;
      }
    </style>
  </body>
</html>
