{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>Het vocabularium OSLO Weg focust op termen die betrekking hebben op wegen. Vertrekpunt vormden termen gedefinieerd voor deze entiteiten in het <a href="https://overheid.vlaanderen.be/producten-diensten/wegenregister">Wegenregister</a> en de <a href="https://inspire.ec.europa.eu/Themes/115/2892">INSPIRE standaard voor transportnetwerken</a>.</p>
{% endblock %}

