{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>Het vocabularium Wetgeving is ontwikkeld binnen het project
<a href="http://lokaalbestuur.vlaanderen.be/lokale-besluiten-als-gelinkte-open-data">Lokale Besluiten als Gelinkte Open Data</a>.
Het Wetgeving vocabularium specificeert een aantal klassen en eigenschappen om termen binnen de context van wetgeving te beschrijven.</p>
{% endblock %}
