[
{
   "urlref": "/doc/vocabularium/bestuur/ontwerpdocument/niet-bepaald",
   "repository": "https://github.com/bertvannuffelen/demo-lokalebesluiten",
   "branchtag" : "master",
   "name" : "bestuur",
   "filename" : "config/bestuur.json",
   "navigation" : {
        "previous": "/doc/vocabularium/bestuur/ontwerpdocument",
        "next": "/doc/vocabularium/bestuur/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/vocabularium/besluit/ontwerpdocument/20-07-2018",
   "repository": "https://github.com/bertvannuffelen/demo-lokalebesluiten",
   "branchtag" : "master",
   "name" : "besluit",
   "filename" : "config/besluit.json",
   "navigation" : {
        "previous": "/doc/vocabularium/besluit/ontwerpdocument",
        "next": "/doc/vocabularium/besluit/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/vocabularium/mandaat/ontwerpdocument/20-07-2018",
   "repository": "https://github.com/bertvannuffelen/demo-lokalebesluiten",
   "branchtag" : "master",
   "name" : "mandaat",
   "filename" : "config/mandaat.json",
   "navigation" : {
        "previous": "/doc/vocabularium/mandaat/ontwerpdocument",
        "next": "/doc/vocabularium/mandaat/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/applicatieprofiel/besluit-publicatie/ontwerpdocument/20-07-2018",
   "repository": "https://github.com/bertvannuffelen/demo-lokalebesluiten",
   "branchtag" : "master",
   "name" : "besluit-publicatie",
   "filename" : "config/besluit-publicatie.json",
   "navigation" : {
        "previous": "/doc/applicatieprofiel/besluit-publicatie/ontwerpdocument",
        "next": "/doc/applicatieprofiel/besluit-publicatie/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/applicatieprofiel/mandatendatabank/ontwerpdocument/20-07-2018",
   "repository": "https://github.com/bertvannuffelen/demo-lokalebesluiten",
   "branchtag" : "master",
   "name" : "mandatendatabank",
   "filename" : "config/mandatendatabank.json",
   "navigation" : {
        "previous": "/doc/applicatieprofiel/mandatendatabank/ontwerpdocument",
        "next": "/doc/applicatieprofiel/mandatendatabank/kandidaatstandaard"
        }
},
{
 "urlref":  "/doc/vocabularium/bestuur",
 "seealso":  "/doc/vocabularium/bestuur/ontwerpdocument/niet-bepaald",
 "type": "voc"
},
{
 "urlref":  "/doc/vocabularium/besluit",
 "seealso":  "/doc/vocabularium/besluit/ontwerpdocument/20-07-2018",
 "type": "voc"
},
{
 "urlref":  "/doc/vocabularium/mandaat",
 "seealso":  "/doc/vocabularium/mandaat/ontwerpdocument/20-07-2018",
 "type": "voc"
},
{
   "urlref": "/doc/applicatieprofiel/besluit-publicatie/",
   "seealso": "/doc/applicatieprofiel/besluit-publicatie/ontwerpdocument/20-07-2018",
   "type": "ap"
},
{
   "urlref": "/doc/applicatieprofiel/mandatendatabank/",
   "seealso": "/doc/applicatieprofiel/mandatendatabank/ontwerpdocument/20-07-2018",
   "type": "ap"
},
{
   "urlref": "/doc/applicatieprofiel/mandatendatabank-orig/",
   "seealso": "/doc/applicatieprofiel/mandatendatabank-orig/orig",
   "type": "ap"
},
{
   "urlref": "/doc/applicatieprofiel/mandatendatabank-orig/orig",
   "repository": "https://github.com/bertvannuffelen/demo-lokalebesluiten",
   "branchtag" : "mandatendatabank",
   "name" : "mandatendatabank",
   "type" : "raw"
}
]
