[
{
   "urlref": "/doc/vocabularium/adres/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-grar",
   "branchtag" : "master",
   "name" : "adres",
   "navigation" : {
        "previous": "/doc/vocabularium/adres/ontwerpdocument",
        "next": "/doc/vocabularium/adres/standaard"
        }
},
{
   "urlref": "/doc/applicatieprofiel/adresregister/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-grar",
   "branchtag" : "master",
   "name" : "adresregister",
   "navigation" : {
        "previous": "/doc/applicatieprofiel/adresregister/ontwerpdocument",
        "next": "/doc/applicatieprofiel/adresregister/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/vocabularium/generiek/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-generiek",
   "branchtag" : "master",
   "name" : "generiek",
   "navigation" : {
        "previous": "/doc/vocabularium/generiek/ontwerpdocument",
        "next": "/doc/vocabularium/generiek/standaard"
        }
},
{
   "urlref": "/doc/applicatieprofiel/generiek-basis/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-generiek",
   "branchtag" : "master",
   "name" : "generiek-basis",
   "navigation" : {
        "previous": "/doc/applicatieprofiel/generiek-basis/ontwerpdocument",
        "next": "/doc/applicatieprofiel/generiekbasis/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/applicatieprofiel/objectcatalogus-begraafplaats/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "objectcatalogus-begraafplaats",
   "navigation" : {
        "previous": "/doc/applicatieprofiel/objectcatalogus-begraafplaats/ontwerpdocument",
        "next": "/doc/applicatieprofiel/objectcatalogus-begraafplaats/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/applicatieprofiel/begraafplaats/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "begraafplaats",
   "navigation" : {
        "previous": "/doc/applicatieprofiel/begraafplaats/ontwerpdocument",
        "next": "/doc/applicatieprofiel/begraafplaats/kandidaatstandaard"
        }
},
{  
   "urlref": "/doc/applicatieprofiel/adresregister",
   "seealso": "/doc/applicatieprofiel/adresregister/ontwerpdocument",
   "type" : "ap"
},
{  
   "urlref": "/doc/applicatieprofiel/generiek-basis",
   "seealso": "/doc/applicatieprofiel/generiek-basis/ontwerpdocument",
   "type" : "ap"
},
{  
   "urlref": "/doc/vocabularium/generiek",
   "seealso": "/doc/vocabularium/generiek/ontwerpdocument",
   "type" : "voc"
},
{  
   "urlref": "/ns/generiek",
   "seealso": "/doc/vocabularium/generiek/ontwerpdocument",
   "type" : "voc"
}
]
