[
{
   "urlref": "/doc/vocabularium/adres/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-grar",
   "branchtag" : "master",
   "name" : "adres",
   "navigation" : {
        "previous": "/doc/vocabularium/adres/ontwerpdocument",
        "next": "/doc/vocabularium/adres/standaard"
        }
},
{
   "urlref": "/doc/applicatieprofiel/adresregister/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-grar",
   "branchtag" : "master",
   "name" : "adresregister",
   "navigation" : {
        "previous": "/doc/applicatieprofiel/adresregister/ontwerpdocument",
        "next": "/doc/applicatieprofiel/adresregister/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/vocabularium/generiek/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-generiek",
   "branchtag" : "master",
   "name" : "generiek",
   "navigation" : {
        "previous": "/doc/vocabularium/generiek/ontwerpdocument",
        "next": "/doc/vocabularium/generiek/standaard"
        }
},
{
   "urlref": "/doc/applicatieprofiel/generiek-basis/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-generiek",
   "branchtag" : "master",
   "name" : "generiek-basis",
   "navigation" : {
        "previous": "/doc/applicatieprofiel/generiek-basis/ontwerpdocument",
        "next": "/doc/applicatieprofiel/generiekbasis/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/applicatieprofiel/openbaar-domein",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "openbaar-domein",
   "navigation" : {
        "previous": "/doc/applicatieprofiel/openbaar-domein/ontwerpdocument",
        "next": "/doc/applicatieprofiel/openbaar-domein/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/vocabularium/openbaardomein/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "openbaardomein",
   "navigation" : {
        "previous": "/doc/vocabularium/openbaardomein/ontwerpdocument",
        "next": "/doc/vocabularium/openbaardomein/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/vocabularium/begraafplaats/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "begraafplaats",
   "navigation" : {
        "previous": "/doc/vocabularium/begraafplaats/ontwerpdocument",
        "next": "/doc/vocabularium/begraafplaats/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/applicatieprofiel/objectcatalogus-begraafplaats/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "objectcatalogus-begraafplaats",
   "navigation" : {
        "previous": "/doc/applicatieprofiel/objectcatalogus-begraafplaats/ontwerpdocument",
        "next": "/doc/applicatieprofiel/objectcatalogus-begraafplaats/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/applicatieprofiel/begraafplaatsenbeheer/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "begraafplaatsenbeheer",
   "navigation" : {
        "previous": "/doc/applicatieprofiel/begraafplaatsenbeheer/ontwerpdocument",
        "next": "/doc/applicatieprofiel/begraafplaatsenbeheer/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/applicatieprofiel/objectcatalogus-gebieden/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "objectcatalogus-gebieden",
   "navigation" : {
        "previous": "/doc/applicatieprofiel/objectcatalogus-gebieden/ontwerpdocument",
        "next": "/doc/applicatieprofiel/objectcatalogus-gebieden/kandidaatstandaard"
        }
},

{
   "urlref": "/doc/applicatieprofiel/objectcatalogus-infrastructuurelementen/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "objectcatalogus-infrastructuurelementen",
   "navigation" : {
        "previous": "/doc/applicatieprofiel/objectcatalogus-infrastructuurelementen/ontwerpdocument",
        "next": "/doc/applicatieprofiel/objectcatalogus-infrastructuurelementen/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/applicatieprofiel/objectcatalogus-onbegroeid-voorkomen/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "objectcatalogus-onbegroeid-voorkomen",
   "navigation" : {
        "previous": "/doc/applicatieprofiel/objectcatalogus-onbegroeid-voorkomen/ontwerpdocument",
        "next": "/doc/applicatieprofiel/objectcatalogus-onbegroeid-voorkomen/kandidaatstandaard"
        }
},

{
   "urlref": "/doc/applicatieprofiel/objectcatalogus-begroeid-voorkomen/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "objectcatalogus-begroeid-voorkomen",
   "navigation" : {
        "previous": "/doc/applicatieprofiel/objectcatalogus-begroeid-voorkomen/ontwerpdocument",
        "next": "/doc/applicatieprofiel/objectcatalogus-begroeid-voorkomen/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/applicatieprofiel/objectcatalogus-terreindeel/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "objectcatalogus-terreindeel",
   "navigation" : {
        "previous": "/doc/applicatieprofiel/objectcatalogus-terreindeel/ontwerpdocument",
        "next": "/doc/applicatieprofiel/objectcatalogus-terreindeel/kandidaatstandaard"
        }
},

{
   "urlref": "/doc/applicatieprofiel/objectcatalogus-vegetatie-elementen/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "objectcatalogus-vegetatie-elementen",
   "navigation" : {
        "previous": "/doc/applicatieprofiel/objectcatalogus-vegetatie-elementen/ontwerpdocument",
        "next": "/doc/applicatieprofiel/objectcatalogus-vegetatie-elementen/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/applicatieprofiel/objectcatalogus-waterdeel/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "objectcatalogus-waterdeel",
   "navigation" : {
        "previous": "/doc/applicatieprofiel/objectcatalogus-waterdeel/ontwerpdocument",
        "next": "/doc/applicatieprofiel/objectcatalogus-waterdeel/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/applicatieprofiel/objectcatalogus-watervoorkomen/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "objectcatalogus-watervoorkomen",
   "navigation" : {
        "previous": "/doc/applicatieprofiel/objectcatalogus-watervoorkomen/ontwerpdocument",
        "next": "/doc/applicatieprofiel/objectcatalogus-watervoorkomen/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/vocabularium/onbegroeid-voorkomen/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "onbegroeid-voorkomen",
   "navigation" : {
        "previous": "/doc/vocabularium/onbegroeid-voorkomen/ontwerpdocument",
        "next": "/doc/vocabularium/onbegroeid-voorkomen/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/vocabularium/begroeid-voorkomen/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "begroeid-voorkomen",
   "navigation" : {
        "previous": "/doc/vocabularium/begroeid-voorkomen/ontwerpdocument",
        "next": "/doc/vocabularium/begroeid-voorkomen/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/vocabularium/gebied/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "gebied",
   "navigation" : {
        "previous": "/doc/vocabularium/gebied/ontwerpdocument",
        "next": "/doc/vocabularium/gebied/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/vocabularium/infrastructuur/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "infrastructuur",
   "navigation" : {
        "previous": "/doc/vocabularium/infrastructuur/ontwerpdocument",
        "next": "/doc/vocabularium/infrastructuur/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/vocabularium/terreindeel/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "terreindeel",
   "navigation" : {
        "previous": "/doc/vocabularium/terreindeel/ontwerpdocument",
        "next": "/doc/vocabularium/terreindeel/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/vocabularium/vegetatie/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "vegetatie",
   "navigation" : {
        "previous": "/doc/vocabularium/vegetatie/ontwerpdocument",
        "next": "/doc/vocabularium/vegetatie/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/vocabularium/waterdeel/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "waterdeel",
   "navigation" : {
        "previous": "/doc/vocabularium/waterdeel/ontwerpdocument",
        "next": "/doc/vocabularium/waterdeel/kandidaatstandaard"
        }
},
{
   "urlref": "/doc/vocabularium/watervoorkomen/ontwerpdocument",
   "repository": "https://github.com/bertvannuffelen/demo-openbaardomein",
   "branchtag" : "master",
   "name" : "watervoorkomen",
   "navigation" : {
        "previous": "/doc/vocabularium/watervoorkomen/ontwerpdocument",
        "next": "/doc/vocabularium/watervoorkomen/kandidaatstandaard"
        }
},
{  
   "urlref": "/doc/applicatieprofiel/adresregister",
   "seealso": "/doc/applicatieprofiel/adresregister/ontwerpdocument",
   "type" : "ap"
},
{  
   "urlref": "/doc/applicatieprofiel/generiek-basis",
   "seealso": "/doc/applicatieprofiel/generiek-basis/ontwerpdocument",
   "type" : "ap"
},
{  
   "urlref": "/doc/vocabularium/generiek",
   "seealso": "/doc/vocabularium/generiek/ontwerpdocument",
   "type" : "voc"
},
{  
   "urlref": "/ns/generiek",
   "seealso": "/doc/vocabularium/generiek/ontwerpdocument",
   "type" : "voc"
}
]
