{
"authors" : 0,
"editors" : 0,
"contributors" : 0,
"participants" : 0,
"classes" : 0,
"properties" : 0,
"externalclasses" : 0,
"externalproperties" : 0,
"totalterms" : 0,
"totalorganisations" : 0,
"organisations" : [],
"specifications" : []
}

